@classPrefix : ~'.ct-';
@{classPrefix}ico
{
	@b : %(~"%sico", @classPrefix);

	&__button
	{
		padding            : 7px 23px;
		color              : #FFF;
		font-size          : 12px;
		font-weight        : 600;
		line-height        : 16px;
		text-align         : center;
		-webkit-transition : all 250ms;
		-moz-transition    : all 250ms;
		-ms-transition     : all 250ms;
		-o-transition      : all 250ms;
		transition         : all 250ms;

		&:hover
		{
			-webkit-transform : translateY(-1px);
			-moz-transform    : translateY(-1px);
			-ms-transform     : translateY(-1px);
			-o-transform      : translateY(-1px);
			transform         : translateY(-1px);
		}

		&_follow
		{
			padding   : 7px 15px;
			min-width : 105px;
		}
	}
}

@{classPrefix}icoList
{
	@b : %(~"%sicoList", @classPrefix);

	margin-top : 40px;

	@{b}__title
	{
		margin : -10px 0 0 !important;
	}

	@{b}__header
	{
		margin-bottom : 30px;
		padding-top   : 10px;

		@{classPrefix}ico__button
		{
			float : left;
		}

		&Link
		{
			display         : inline-block;
			vertical-align  : middle;
			margin-left     : 35px;
			text-decoration : underline;
			color           : #253137;
			font-size       : 16px;
			line-height     : 22px;
			margin-top      : 5px;

			&:hover
			{
				color           : lighten(#253137, 15%);
				text-decoration : none;
			}
		}
	}

}

@{classPrefix}icoSearch
{
	@b : %(~"%sicoSearch", @classPrefix);

	@{b}__tags
	{
		margin-bottom : 20px;

		@{b}__tag
		{
			color        : #253137;
			font-size    : 10px;
			font-weight  : bold;
			line-height  : 28px;
			margin-right : 25px;

			@{classPrefix}icon
			{
				vertical-align : middle;
				margin-right   : 4px;
			}
		}
	}

	@{b}__warning
	{
		color       : #465A65;
		font-size   : 12px;
		font-weight : bold;
		line-height : 20px;

		.text-warning
		{
			color : @brand-warning;
		}
	}

	@{classPrefix}dropdownSelect
	{
		margin-right : 3px;

		&__button
		{
			text-transform : uppercase;
			color          : #253137;
			font-size      : 10px;
			font-weight    : bold;
			line-height    : 25px;
			padding-right  : 55px;
		}
	}
}

@{classPrefix}icoListTable
{
	@b : %(~"%sicoListTable", @classPrefix);

	@{b}__head
	{
		&Link
		{
			color   : #AFBDC4;
			display : inline-block;

			&:hover,
			&_active
			{
				color : #253137;
			}
			&_sort
			{
				&-asc::after,
				&-desc::after
				{
					content        : '';
					margin-left    : 10px;
					vertical-align : middle;
				}
				&-desc::after
				{
					margin-top : 2px;
					#triangle > .down(4px, 3px, ~'', inline-block);
				}
				&-asc::after
				{
					margin-top : -4px;
					#triangle > .up(4px, 3px, ~'', inline-block);
				}
			}
		}
	}
}

@media (min-width : @screen-md-min)
{
	@{classPrefix}icoListTable
	{
		@b : %(~"%sicoListTable", @classPrefix);
		margin-top    : 30px;
		margin-bottom : 30px;
		display       : table;
		width         : 100%;
		position      : relative;

		/* Dimensions */
		@{b}__
		{
			&headCell_date,
			&itemCell_image
			{
				padding-left  : 8px;
				padding-right : 8px;
				width         : 108px;
			}

			&headCell_name,
			&itemCell_name
			{
				padding-left  : 8px;
				padding-right : 14px;
				width         : 210px;
			}

			&headCell_description,
			&itemCell_description
			{
				padding-left  : 32px;
				padding-right : 32px;
			}

			&headCell_category,
			&itemCell_category
			{
				padding-left  : 32px;
				padding-right : 10px;
				width         : 160px;
			}

			&headCell_status,
			&itemCell_status
			{
				padding-left  : 30px;
				padding-right : 10px;
				width         : 160px;
			}

			&headCell_actions,
			&itemCell_actions
			{
				padding-right : 30px;
			}
		}

		@{b}__head
		{
			font-size : 0;
			display   : table-row-group;
			width     : 100%;
			&Row
			{
				display : table-row;
			}
			&Cell
			{
				color          : #AFBDC4;
				font-size      : 14px;
				line-height    : 30px;
				display        : table-cell;
				border-bottom  : 1px solid #ECEFF1;
				padding-top    : 10px;
				padding-bottom : 10px;

				&_date
				{
					padding-left : 36px;
				}
				&_description
				{
					padding-left : 52px;
				}
			}

		}
		@{b}__item
		{
			width    : 100%;
			display  : table-row-group;
			position : relative;

			&Header
			{
				height     : 28px;
				margin-top : 30px;

				&Row
				{
					padding  : 0 15px 5px;
					position : absolute;
					left     : 0;
					right    : 0;
				}

				&Meta
				{
					color       : #253137;
					font-size   : 14px;
					font-weight : bold;
					line-height : 20px;

					&Label
					{
						color : #AFBDC4;
					}

					&_roi
					{
						float : right;
					}

					+ @{b}__itemHeaderMeta
					{
						margin-left : 70px;
					}
				}
			}
			&Row
			{
				box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.2);
				background : #F4F5F7;
				width      : 100%;
				display    : table-row;
			}

			&Cell
			{
				padding-top    : 19px;
				padding-bottom : 19px;
				vertical-align : middle;
				display        : table-cell;

				&_image
				{
					position    : relative;
					white-space : nowrap;
					&::before
					{
						content        : '';
						display        : inline-block;
						vertical-align : middle;
						visibility     : hidden;
						margin-right   : 8px;
						.ct-icon.ct-icon_star-round-yellow();
					}
					img
					{
						max-width      : 64px;
						height         : auto;
						display        : inline-block;
						vertical-align : middle;
					}

				}
				&_name
				{
					color       : #000;
					font-size   : 18px;
					font-weight : bold;
					line-height : 22px;
				}
				&_description
				{
					font-size   : 13px;
					line-height : 20px;
				}
				&_category,
				&_status,
				&_actions
				{
					background  : #FFF;
					font-size   : 13px;
					line-height : 20px;
				}
				&_actions
				{
					white-space : nowrap;
				}
			}
			&_promoted
			{
				@{b}__itemCell_image::before
				{
					visibility : visible;
				}
			}
		}
	}
}

@{classPrefix}icoDetail
{
	@b : %(~"%sicoDetail", @classPrefix);
	margin-top : 40px;

	@{b}__header
	{
		@{b}__title
		{
			color         : #010101;
			font-size     : 30px;
			font-weight   : bold;
			line-height   : 41px;
			margin-top    : 0;
			margin-bottom : 10px;
			padding-left  : 34px;

			@{classPrefix}icon
			{
				margin-left  : -34px;
				margin-right : 14px;
			}
		}
		@{b}__subtitle
		{
			color       : #010101;
			font-size   : 18px;
			font-weight : 600;
			line-height : 24px;
			margin      : 0;
		}
	}

	@{b}__video
	{
		margin-top : 25px;
		max-width  : 620px;
	}
	@{b}__social
	{
		margin-bottom : 25px;

		> li
		{
			margin-right   : 5px;
			vertical-align : top;
			> a
			{
				-webkit-border-radius : 25px;
				-moz-border-radius    : 25px;
				border-radius         : 25px;
				background-color      : #B0BEC5;
				text-align            : center;
				color                 : #FFF;
				text-decoration       : none;
				width                 : 24px;
				height                : 24px;
				line-height           : 24px;
				font-size             : 14px;
				-webkit-transition    : all 350ms;
				-moz-transition       : all 350ms;
				-ms-transition        : all 350ms;
				-o-transition         : all 350ms;
				transition            : all 350ms;

				&:hover
				{
					background-color : darken(#B0BEC5, 15%);
				}
			}
		}
	}
	@{b}__view
	{
		white-space   : nowrap;
		margin-bottom : 33px;

		@{b}__logotype
		{
			width          : 112px;
			display        : inline-block;
			box-shadow     : 0 2px 3px 0 rgba(0, 0, 0, 0.1);
			vertical-align : middle;
			margin-right   : 32px;
			img
			{
				max-width : 100%;
				display   : block;
				height    : auto;
			}
		}

		&Right
		{

			display        : inline-block;
			vertical-align : middle;
			text-align     : right;
		}

		&Links
		{
			margin-top : 36px;
			a
			{
				text-decoration : underline;
				color           : #253137;
				font-size       : 13px;
				line-height     : 18px;
				display         : inline-block;

				& + a
				{
					margin-left : 22px;
				}

				&:hover
				{
					text-decoration : none;
				}
			}
		}
	}
	@{b}__countdownDate
	{
		color       : #010101;
		font-size   : 16px;
		line-height : 28px;

		small
		{
			font-size : 11px;
		}
	}
	@{b}__metadata
	{
		margin      : 20px 0 0;
		padding     : 0;
		color       : #010101;
		font-size   : 16px;
		line-height : 28px;

		dt
		{
			float        : left;
			clear        : both;
			margin-right : 4px;
			line-height  : 28px;
			font-weight  : normal;
		}
		dd
		{
			font-weight : bold;
			line-height : 28px;
		}
	}
	@{b}__feedbackLink
	{
		margin-top : 30px;
		a
		{
			color           : #253137;
			font-size       : 14px;
			line-height     : 19px;
			text-decoration : underline;
			.fa
			{
				color        : #FABF2C;
				margin-right : 4px;
			}
			&:hover
			{
				text-decoration : none;
			}
		}

	}

	@{b}__information
	{
		margin-top : 60px;

		&Title
		{
			color       : #010101;
			font-size   : 18px;
			font-weight : 600;
			line-height : 24px;
			margin      : 0;
		}
		&Content
		{
			padding : 15px;
		}
	}

	@{classPrefix}tabs
	{
		&__nav > li
		{
			width : 25%;
		}

		&__content
		{
			-webkit-box-shadow : none !important;
			-moz-box-shadow    : none !important;
			box-shadow         : none !important;
			background         : none !important;

			&Box
			{
				padding : 30px 0;
			}
		}
	}
}

@{classPrefix}icoTeam
{
	@b : %(~"%sicoTeam", @classPrefix);

	@{b}__group
	{
		margin-bottom : 50px;
	}
	@{b}__groupName
	{
		display        : block;
		border-bottom  : 1px solid #AFBDC4;
		padding-bottom : 9px;
		color          : #253137;
		font-size      : 16px;
		font-weight    : bold;
		line-height    : 22px;
	}
	@{b}__list
	{
		overflow : hidden;
	}
	@{b}__person
	{
		float  : left;
		width  : 33.333%;
		margin : 25px 0;

		&Name
		{
			color       : #253137;
			font-size   : 14px;
			font-weight : bold;
			line-height : 19px;
		}
		&Specialty
		{
			color       : #465A65;
			font-size   : 13px;
			line-height : 17px;
		}
	}
}

@media (max-width : @screen-sm-max)
{
	@{classPrefix}ico
	{
		@b : %(~"%sico", @classPrefix);

		&__button
		{
			&_follow,
			&_description
			{
				background : #FFF !important;
				color      : #465A65 !important;
				box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
			}
		}
	}

	@{classPrefix}icoList
	{
		@b : %(~"%sicoList", @classPrefix);
		margin-top : 20px;

		@{b}__title
		{
			margin      : 0 !important;
			color       : #010101;
			font-size   : 30px;
			font-weight : bold;
			line-height : 41px;
		}

		@{b}__header
		{
			overflow : hidden;

			@{classPrefix}ico__button
			{
				margin-top : 30px;
				clear      : right;
				float      : right;
			}

			&Link
			{
				float       : right;
				margin      : 15px 0 0 0;
				font-size   : 11px;
				line-height : 15px;
			}
		}
	}

	@{classPrefix}icoSearch
	{
		@b : %(~"%sicoSearch", @classPrefix);
		@{b}__warning
		{
			margin-top : 20px;
			text-align : center;
		}
	}

	@{classPrefix}icoListTable
	{
		@b : %(~"%sicoListTable", @classPrefix);
		position : relative;
		margin   : 30px -10px;

		@{b}__head
		{
			padding : 0 15px;

			&Cell
			{
				color          : #AFBDC4;
				font-size      : 14px;
				line-height    : 30px;
				border-bottom  : 1px solid #ECEFF1;
				padding-top    : 10px;
				padding-bottom : 10px;
				display        : none;

				&_date
				{
					display : block;
				}
			}
			&Link
			{
				color       : #253137;
				font-size   : 14px;
				font-weight : bold;
				line-height : 32px;
			}
		}

		@{b}__item
		{
			width         : 50%;
			float         : left;
			padding       : 0 15px;
			position      : relative;
			margin-top    : 16px;
			margin-bottom : 24px;

			&Header
			{
				&Row
				{
					font-size : 0;
					padding   : 0 8px 5px;
				}

				&Meta
				{
					color       : #253137;
					font-size   : 12px;
					font-weight : bold;
					line-height : 17px;
					width       : 50%;
					display     : inline-block;

					&Label
					{
						color : #AFBDC4;
					}

					&_roi
					{
						float : right;
					}

					&:nth-child(even)
					{
						text-align : right;
					}
				}
			}
			&Row
			{
				box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.2);
				background : #F4F5F7;
				width      : 100%;
				padding    : 8px 8px 0;
				overflow   : hidden;
				position   : relative;
			}

			&Cell
			{
				&_image
				{
					margin-bottom : 13px;
					margin-right  : 12px;
					float         : left;

					img
					{
						max-width      : 64px;
						height         : auto;
						display        : inline-block;
						vertical-align : middle;
					}

				}
				&_name
				{
					color         : #000;
					font-size     : 14px;
					font-weight   : bold;
					line-height   : 20px;
					position      : relative;
					margin-bottom : 11px;
					min-height    : 40px;
				}
				&_category,
				&_status
				{
					white-space : nowrap;
					color       : #253137;
					font-size   : 12px;
					line-height : 32px;
				}
				&Label
				{
					width          : 52px;
					display        : inline-block;
					vertical-align : middle;
					color          : #9B9B9B;
					font-size      : 10px;
					line-height    : 32px;
				}

				&_description
				{
					display          : none;
					color            : #253137;
					font-size        : 12px;
					line-height      : 20px;
					background-color : #F4F5F7;
					position         : absolute;
					top              : 0;
					left             : 0;
					right            : 0;
					bottom           : 64px;
					z-index          : 5;
					padding          : 8px 10px 6px;
				}
				&_actions
				{
					background     : #FFF;
					font-size      : 13px;
					line-height    : 20px;
					text-align     : center;
					white-space    : nowrap;
					padding-top    : 16px;
					padding-bottom : 16px;
					margin         : 0 -8px;
					clear          : both;
					height         : 64px;

					@{classPrefix}ico__button
					{
						margin : 0 12px;
					}
				}
			}

			&_promoted @{b}__itemCell_name
			{
				padding-left : 32px;

				&::before
				{
					content    : '';
					display    : block;
					position   : absolute;
					left       : 4px;
					top        : 50%;
					margin-top : -10px;
					.ct-icon.ct-icon_star-round-yellow();
				}
			}
		}
	}

	@{classPrefix}icoDetail
	{
		@b : %(~"%sicoDetail", @classPrefix);
		margin-top : 20px;

		@{b}__header
		{
			@{b}__title
			{
				color       : #010101;
				font-size   : 20px;
				font-weight : bold;
				line-height : 27px;
			}
			@{b}__subtitle
			{
				color       : #010101;
				font-size   : 18px;
				font-weight : 600;
				line-height : 24px;
			}
		}

		@{b}__video
		{
			max-width : none;
			margin    : 20px -10px;
		}
		@{b}__about
		{
			padding : 0 24px;
		}
		@{b}__social
		{
			margin-bottom : 25px;
			text-align    : center;
			li
			{
				margin : 0;
			}
		}
		@{b}__view
		{
			white-space   : nowrap;
			overflow      : hidden;
			margin-bottom : 22px;

			@{b}__logotype
			{
				width        : 64px;
				display      : block;
				float        : left;
				margin-right : 32px;
			}

			&Right
			{
				display    : block;
				text-align : right;
				margin-top : 15px;
			}

			&Links
			{
				text-align : left;
			}
		}
		@{b}__countdownDate
		{
			small
			{
				display : block;
			}
		}

		@{b}__metadata
		{
			color       : #253137;
			font-size   : 12px;
			line-height : 16px;

			dt, dd
			{
				line-height : 16px;
			}
		}

		@{b}__feedbackLink
		{
			margin-top : 25px;
		}

		@{b}__information
		{
			margin-top : 30px;

			&Title
			{
				margin : 0 0 13px;
			}
			&Content
			{
				padding : 0;
			}
		}

		@{classPrefix}tabs
		{
			margin : 0 -10px;
			&__nav > li
			{
				a
				{
					padding-left  : 5px !important;
					padding-right : 5px !important;
				}
			}

			&__content
			{
				&Box
				{
					padding : 30px 24px;
				}
			}
		}
	}
}

@media (max-width : @screen-xs-max)
{
	@{classPrefix}icoSearch
	{
		@b : %(~"%sicoSearch", @classPrefix);

		@{b}__filter
		{
			margin     : 0 0 10px;
			width      : auto;
			max-width  : 100%;
			float      : none;
			text-align : justify;
			overflow   : hidden;

			@{classPrefix}dropdownSelect
			{
				width  : 30%;
				margin : 0;
			}

			&::after
			{
				content : '';
				display : inline-block;
				width   : 100%;
			}
		}
		@{b}__query
		{
			z-index  : 10;
			position : relative;
		}
	}

	@{classPrefix}icoListTable
	{
		@b : %(~"%sicoListTable", @classPrefix);
		margin : -40px -10px 0;

		@{b}__item
		{
			max-width : 400px;
			width     : 100%;
			float     : none;
		}
	}

	@{classPrefix}icoDetail
	{
		@b : %(~"%sicoDetail", @classPrefix);

		@{b}__information @{classPrefix}articleListItem
		{
			&__image
			{
				margin : 0 -24px;
			}
		}
	}

	@{classPrefix}icoTeam
	{
		@b : %(~"%sicoTeam", @classPrefix);

		@{b}__group
		{
			margin-bottom : 40px;
		}
		@{b}__list
		{
			padding-top : 16px;
		}
		@{b}__person
		{
			float  : none;
			width  : auto;
			margin : 16px 0 0;

			&Name
			{
				font-size   : 13px;
				line-height : 18px;
			}
			&Specialty
			{
				font-size   : 14px;
				line-height : 24px;
			}
		}
	}

}
