&outside
{

	> @{b}__nav
	{
		> li
		{
			> a
			{
				color              : #253137;
				background         : #ECEFF1;
				font-size          : 10px;
				line-height        : 28px;
				padding            : 6px 20px;
				font-weight        : bold;
				text-align         : center;
				text-transform     : uppercase;
				-webkit-transition : all 250ms;
				-moz-transition    : all 250ms;
				-ms-transition     : all 250ms;
				-o-transition      : all 250ms;
				transition         : all 250ms;
				display            : block;
				min-width          : 80px;
				z-index            : 2;
				position           : relative;
			}

			&.active > a,
			&:hover > a
			{
				background-color  : #FABF2C;
				box-shadow        : 0 2px 4px 0 rgba(0, 0, 0, 0.2);
				-webkit-transform : translateY(-2px);
				-moz-transform    : translateY(-2px);
				-ms-transform     : translateY(-2px);
				-o-transform      : translateY(-2px);
				transform         : translateY(-2px);
			}
		}
	}

	> @{b}__content
	{
		z-index  : 1;
		position : relative;
	}
}
