@classPrefix : ~'.ct-';
@imgPath : '../i/bg';
@fontsPath : '../fonts';
@font-family-base : 'Open Sans', Helvetica, sans-serif;
@font-size-base : 16px;

@border-radius-small : 3px;
@border-radius-base : 4px;
@border-radius-large : 6px;

@text-color : #A19F9D;
@brand-primary : #A19F9D;
@brand-success : #35CA66;
@brand-info : #AEAEAE;
@brand-warning : #FFC100;
@brand-danger : #D0011B;
@brand-gray : #F6F6F6;
@brand-gray_eee : #EEE;
@brand-silver : #E8E8E8;
@brand-darkblue : #253137;
@brand-darkgray : #323232;
@brand-white : #FFF;
@brand-green : #51B749;

@grid-gutter-width : 32px;

// Small screen / tablet
@container-tablet : (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm : @container-tablet;

// Medium screen / desktop
@container-desktop : (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md : @container-desktop;

// Large screen / wide desktop
@container-large-desktop : (1152px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg : @container-large-desktop;

//** Placeholder text color
@input-color-placeholder : #414141;
