@{b}__header
{
	position   : relative;
	text-align : center;

	.header__toptop
	{
		position : absolute;
		display  : inline-block;
		*display : inline;
		*zoom    : 1;
	}
	&:before
	{
		content    : '';
		background : #223138;
		height     : 127px;
		display    : block;
	}
	&:after
	{
		content    : '';
		height     : 43px;
		background : @brand-warning;
		display    : block;
	}

}
