&yellow
{
	@background : #FABF2C;
	border-color : transparent;
	color        : #253137 !important;
	background   : @background;
	box-shadow   : 0 2px 4px 0 rgba(0, 0, 0, 0.2);

	&:hover,
	&:focus
	{
		background-color : lighten(@background, 10%);
	}

	&@{b}_active,
	&:active
	{
		box-shadow : inset 2px 2px 3px darken(@background, 8%) !important;
		background : darken(@background, 3%);
	}
}
