&required
{
	position : relative;

	&:before
	{
		content     : '*';
		font-size   : @font-size-base;
		line-height : 22px;
		text-align  : left;
		color       : @brand-danger;
		position    : absolute;
		left        : 14px;
		top         : 4px;
		z-index     : 5;
	}
}
