@{classPrefix}inputBox
{
	@b : %(~"%sinputBox", @classPrefix);
	height           : 40px;
	padding-right    : 32px;
	display          : block;
	background-color : #FFF;
	box-shadow       : 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	white-space      : nowrap;
	font-size        : 0;
	position         : relative;

	@{b}__control
	{
		padding     : 11px 5px;
		border      : 0;
		background  : none;
		font-size   : 16px;
		line-height : 18px;
		width       : 100%;
		display     : block;
		z-index     : 1;
		position    : relative;
	}
	@{b}__submit
	{
		width       : 32px;
		background  : #FFF;
		z-index     : 2;
		text-align  : center;
		padding     : 11px 8px;
		border      : 0;
		line-height : 18px;
		background  : none;
		display     : inline-block;
		position    : absolute;
		right       : 0;
		top         : 0;
		bottom      : 0;
	}
}
