&small
{
	font-size      : 10px;
	border-radius  : 2px;
	padding-left   : 10px;
	padding-right  : 10px;
	padding-top    : 6px;
	padding-bottom : 6px;
	line-height    : 18px;

	&@{b}_rounded
	{
		border-radius : 45px;
	}
}
