@{classPrefix}userFace
{
	@b : %(~"%suserFace", @classPrefix);
	text-decoration : none !important;
	z-index         : 101;
	display         : inline-block;
	vertical-align  : middle;
	position        : relative;

	@{b}__icon
	{
		-webkit-border-radius   : 50%;
		-moz-border-radius      : 50%;
		border-radius           : 50%;
		width                   : 50px;
		height                  : 50px;
		background              : transparent url(~'@{imgPath}/user-empty-avatar.svg') center center no-repeat;
		-webkit-background-size : 50px;
		background-size         : 50px;
		position                : relative;
		display                 : inline-block;
		vertical-align          : middle;
	}

	@{b}__counter
	{
		z-index               : 5;
		max-width             : 40px;
		position              : absolute;
		overflow              : hidden;
		left                  : 30px;
		top                   : -3px;
		-webkit-border-radius : 19px;
		-moz-border-radius    : 19px;
		border-radius         : 19px;
		box-sizing            : border-box;
		padding               : 0 4px;
		min-width             : 21px;
		color                 : #253137;
		font-size             : 14px;
		font-weight           : 600;
		line-height           : 19px;
		border                : 1px solid #FAFAFA;
		background-color      : #FABF2C;
		text-align            : center;
		box-shadow            : 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	}

	@{b}__username
	{
		display        : inline-block;
		vertical-align : middle;
		color          : #FABF2C;
		font-size      : 14px;
		font-weight    : 600;
		line-height    : 19px;

		&_gray
		{
			color : #253137;
		}
	}
}
