@{classPrefix}guides
{
	@b : %(~"%sguides", @classPrefix);
	padding-bottom : 50px;
	@{b}__description
	{
		color       : #000;
		font-size   : 16px;
		line-height : 22px;
		max-width   : 420px;
		margin      : 0;
	}
}

@{classPrefix}guideSection
{
	@b : %(~"%sguideSection", @classPrefix);
	margin-top : 55px;

	@{b}__title
	{
		color         : #010101;
		font-size     : 18px;
		font-weight   : 600;
		line-height   : 24px;
		margin-bottom : 14px;
		margin-top    : 0;

		&:before
		{
			content          : '';
			display          : inline-block;
			height           : 8px;
			width            : 8px;
			background-color : #FABF2C;
			margin-right     : 8px;
			vertical-align   : top;
		}
	}

	@{b}__items
	{
		border-top  : 1px solid #AFBDC4;
		padding-top : 15px;
	}
}

@{classPrefix}guideItem
{
	@b : %(~"%sguideItem", @classPrefix);

	margin-bottom  : 15px;
	display        : inline-block;
	float          : none;
	margin-right   : -5px;
	vertical-align : top;

	@{b}__inner
	{
		-webkit-border-radius : 6px;
		-moz-border-radius    : 6px;
		border-radius         : 6px;
		-webkit-box-shadow    : 0 2px 3px rgba(0, 0, 0, 0.14);
		box-shadow            : 0 2px 3px rgba(0, 0, 0, 0.14);
	}

	@{b}__header
	{
		position              : relative;
		overflow              : hidden;
		-webkit-border-radius : 7px 7px 0 0;
		-moz-border-radius    : 7px 7px 0 0;
		border-radius         : 7px 7px 0 0;
		max-height            : 265px;

		@{b}__link
		{
			display         : block;
			text-decoration : none;

			@{b}__image
			{
				display   : inline-block;
				height    : 100%;
				max-width : 100%;
				width     : auto;
			}
			@{b}__description
			{
				padding           : 0 15px;
				position          : absolute;
				top               : 50%;
				-webkit-transform : translateY(-50%);
				-moz-transform    : translateY(-50%);
				-ms-transform     : translateY(-50%);
				-o-transform      : translateY(-50%);
				transform         : translateY(-50%);
				color             : #FFF;
				font-size         : 16px;
				line-height       : 22px;
				z-index           : 2;
			}

			&::after
			{
				content          : '';
				position         : absolute;
				z-index          : 1;
				top              : 0;
				bottom           : 0;
				left             : 0;
				right            : 0;
				background-color : rgba(0, 0, 0, 0.6);
			}

			@{b}__description,
			&:after
			{
				display            : block;
				visibility         : hidden;
				opacity            : 0;
				-webkit-transition : all 350ms;
				-moz-transition    : all 350ms;
				-ms-transition     : all 350ms;
				-o-transition      : all 350ms;
				transition         : all 350ms;
			}
		}

		@{b}__link:hover
		{
			@{b}__image
			{
				-moz-filter    : blur(5px);
				-webkit-filter : url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZmlsdGVyIGlkPSJibHVyIj4KICAgICAgICA8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIxMiIgLz4KICAgIDwvZmlsdGVyPgo8L3N2Zz4=#blur);
				-webkit-filter : blur(4px);
				filter         : url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8ZmlsdGVyIGlkPSJibHVyIj4KICAgICAgICA8ZmVHYXVzc2lhbkJsdXIgc3RkRGV2aWF0aW9uPSIxMiIgLz4KICAgIDwvZmlsdGVyPgo8L3N2Zz4=#blur);
				filter         : blur(4px);
			}

			@{b}__description,
			&::after
			{
				visibility : visible;
				opacity    : 1;
			}
		}
	}
	@{b}__footer
	{
		background            : #FFF;
		padding               : 10px 15px;
		-webkit-border-radius : 0 0 7px 7px;
		-moz-border-radius    : 0 0 7px 7px;
		border-radius         : 0 0 7px 7px;
		white-space           : nowrap;

		&:after
		{
			content        : '';
			height         : 50px;
			display        : inline-block;
			vertical-align : middle;
		}
	}

	@{b}__title
	{
		display        : inline-block;
		vertical-align : middle;
		color          : #010101;
		font-size      : 18px;
		font-weight    : 600;
		line-height    : 24px;
		white-space    : normal;
	}

	@media (max-width : @screen-sm-max)
	{
		@{b}__header
		{
			max-height : none;
			width      : 100%;

			@{b}__link
			{
				@{b}__image
				{
					height : auto;
					width  : 100%;
				}
			}
		}
	}
}
