&dark
{
	@background : #253137;

	border-color : transparent;
	color        : #FFF !important;
	background   : @background;

	&:hover,
	&:focus
	{
		background : lighten(@background, 5%);

	}
	&@{b}_active,
	&:active
	{
		background : darken(@background, 4%);
	}
}
