<header class="ct-header">
	<div class="container ct-header__container">
		<a href="#" class="ct-header__component ct-header__component_logotype / ct-logotype ct-logotype_link ct-logotype_blog">
			<img class="ct-logotype__image" src="/i/src/ct-logo/blog.svg" alt="COINTELEGRAPH"/>
			<strong class="ct-logotype__phrase">
				<span class="ct-logotype__sitename">
					<span>COIN</span>TELEGRAPH
				</span>
				BlogChain
			</strong>
		</a>
		<div class="ct-header__component ct-header__component_dropdown">
			<div class="ct-dropdownSelect ct-dropdownSelect_theme_simple">
				<button class="ct-dropdownSelect__button" type="button" id="headerDropdownTopics" data-toggle="dropdown">
					Topics
				</button>
				<ul class="ct-dropdownSelect__menu" role="menu" aria-labelledby="headerDropdownTopics">
					<li><a href="#">Analytics</a></li>
					<li><a href="#">Fintech</a></li>
					<li><a href="#">ICO</a></li>
					<li><a href="#">Education</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Adoption</a></li>
					<li><a href="#">Regulation</a></li>
					<li><a href="#">Fork</a></li>
				</ul>
			</div>
		</div>
		<div class="ct-header__component ct-header__component_dropdown">
			<div class="ct-dropdownSelect ct-dropdownSelect_theme_simple">
				<button class="ct-dropdownSelect__button" type="button" id="headerDropdownCompaies" data-toggle="dropdown">
					Companies
				</button>
				<ul class="ct-dropdownSelect__menu" role="menu" aria-labelledby="headerDropdownCompaies">
					<li><a href="#">Coca cola</a></li>
					<li><a href="#">IBM</a></li>
					<li><a href="#">Nike</a></li>
					<li><a href="#">Samsung</a></li>
					<li><a href="#">Yota</a></li>
					<li><a href="#">Beeline</a></li>
					<li><a href="#">Apple</a></li>
					<li><a href="#">Skolkovo</a></li>
					<li><a href="#">KFC</a></li>
				</ul>
			</div>
		</div>
		<div class="ct-header__component ct-header__component_user">
			<div class="ct-dropdownSelect ct-dropdownSelect_theme_simple / ct-header__user">
				<a href="profile-settings.html" class="ct-userFace" data-toggle="dropdown" id="headerDropdownUser">
					<span class="ct-userFace__icon"  style="/*background-image: url(/path-to-user-avatar.png);*/"><span class="ct-userFace__counter">123+</span></span>
					<span class="ct-userFace__username">LOGIN</span>
				</a>
				<ul class="ct-dropdownSelect__menu / ct-header__userMenu" role="menu" aria-labelledby="headerDropdownUser">
					<li><a href="#"><i class="ct-icon ct-icon_arrow-right-line-dark"></i>How Do I Write</a></li>
					<li><a href="#"><i class="ct-icon ct-icon_bookmark-dark"></i>Bookmarks</a></li>
					<li><a href="#"><i class="ct-icon ct-icon_comments-dark"></i>Comments</a></li>
					<li><a href="#"><i class="ct-icon ct-icon_envelope-dark"></i>Notification</a></li>
					<li><a href="#"><i class="ct-icon ct-icon_settings-dark"></i>Profile & Settings</a></li>
					<li><a href="#"><i class="ct-icon ct-icon_arrow-logout-dark"></i>Logout</a></li>
				</ul>
			</div>
		</div>
		<div class="ct-header__component ct-header__component_buttons_blog">
			<a href="#" class="ct-header__button / ct-button ct-button_theme_yellow ct-button_squared">ADD COMPANY TO BLOG</a>
		</div>
		<a href="javascript:;" class="ct-header__component ct-header__component_burgerMenu / js-sidebar-toggle"></a>
	</div>
</header>
