&gray
{
	@background : #ECEFF1;

	border-color : #465A65;
	color        : #465A65 !important;
	background   : @background;

	&:hover,
	&:focus
	{
		background : lighten(@background, 3%);
	}

	&@{b}_active,
	&:active
	{
		box-shadow : inset 3px 3px 2px darken(@background, 10%);
		background : darken(@background, 5%);
	}
}
