<div class="ct-blogPostItem">
	<a href="#" class="ct-blogPostItem__bookmark / fa fa-bookmark / pull-right"></a>
	<div class="ct-blogPostItem__company">
		<a class="ct-blogPostItem__image" href="#"><img src="../i/src/main/company-1.png" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit"/></a>
		<div class="hidden-sm hidden-md hidden-lg / ct-blogPostItem__companyName">by <a href="#">Satoshi Nakomoto</a></div>
	</div>
	<div class="ct-blogPostItem__header">
		<a class="ct-blogPostItem__title" href="#"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></a>
	</div>
	<div class="clearfix visible-xs">
		<time class="ct-blogPostItem__published pull-left" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<a href="#" class="ct-blogPostItem__category pull-right">Privacy & Security</a>
	</div>
	<div class="ct-blogPostItem__meta hidden-xs">
		<time class="text-muted ct-blogPostItem__metaItem" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<a href="#" class="ct-blogPostItem__metaItem">Company Name</a>
		<a href="#" class="ct-blogPostItem__metaItem">Topic title</a>
	</div>
	<p class="ct-blogPostItem__description">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem maiores placeat qui quia recusandae saepe similique tempore? Animi, distinctio, rerum!
	</p>
	<div class="ct-blogPostItem__footer">
		<a href="#" class="pull-right / ct-blog__followButton / ct-button ct-button_theme_gray ct-button_rounded">FOLLOWING</a>
		<span class="ct-blogPostItem__stat"><i class="fa fa-user"></i>123456</span>
		<span class="ct-blogPostItem__stat"><i class="fa fa-thumbs-up"></i>56575</span>
		<span class="ct-blogPostItem__stat / hidden-xs hidden-sm"><i class="fa fa-bookmark"></i>9765</span>
	</div>
</div>
<div class="ct-blogPostItem">
	<a href="#" class="ct-blogPostItem__bookmark ct-blogPostItem__bookmark_active / fa fa-bookmark / pull-right"></a>
	<div class="ct-blogPostItem__company">
		<a class="ct-blogPostItem__image" href="#"><img src="../i/src/main/company-2.png" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit"/></a>
		<div class="hidden-sm hidden-md hidden-lg / ct-blogPostItem__companyName">by <a href="#">Satoshi Nakomoto</a></div>
	</div>
	<div class="ct-blogPostItem__header">
		<a class="ct-blogPostItem__title" href="#"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></a>
	</div>
	<div class="clearfix visible-xs">
		<time class="ct-blogPostItem__published pull-left" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<a href="#" class="ct-blogPostItem__category pull-right">Privacy & Security</a>
	</div>
	<div class="ct-blogPostItem__meta hidden-xs">
		<time class="text-muted ct-blogPostItem__metaItem" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<a href="#" class="ct-blogPostItem__metaItem">Company Name</a>
		<a href="#" class="ct-blogPostItem__metaItem">Topic title</a>
	</div>
	<p class="ct-blogPostItem__description">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem maiores placeat qui quia recusandae saepe similique tempore? Animi, distinctio, rerum!
	</p>
	<div class="ct-blogPostItem__footer">
		<a href="#" class="pull-right / ct-blog__followButton / ct-button ct-button_theme_yellow ct-button_rounded">FOLLOW</a>
		<span class="ct-blogPostItem__stat"><i class="fa fa-user"></i>123456</span>
		<span class="ct-blogPostItem__stat"><i class="fa fa-thumbs-up"></i>56575</span>
		<span class="ct-blogPostItem__stat / hidden-xs hidden-sm"><i class="fa fa-bookmark"></i>9765</span>
	</div>
</div>
<div class="ct-blogPostItem">
	<a href="#" class="ct-blogPostItem__bookmark / fa fa-bookmark / pull-right"></a>
	<div class="ct-blogPostItem__company">
		<a class="ct-blogPostItem__image" href="#"><img src="../i/src/main/company-3.png" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit"/></a>
		<div class="hidden-sm hidden-md hidden-lg / ct-blogPostItem__companyName">by <a href="#">Satoshi Nakomoto</a></div>
	</div>
	<div class="ct-blogPostItem__header">
		<a class="ct-blogPostItem__title" href="#"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></a>
	</div>
	<div class="clearfix visible-xs">
		<time class="ct-blogPostItem__published pull-left" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<a href="#" class="ct-blogPostItem__category pull-right">Privacy & Security</a>
	</div>
	<div class="ct-blogPostItem__meta hidden-xs">
		<time class="text-muted ct-blogPostItem__metaItem" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<a href="#" class="ct-blogPostItem__metaItem">Company Name</a>
		<a href="#" class="ct-blogPostItem__metaItem">Topic title</a>
	</div>
	<p class="ct-blogPostItem__description">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem maiores placeat qui quia recusandae saepe similique tempore? Animi, distinctio, rerum!
	</p>
	<div class="ct-blogPostItem__footer">
		<a href="#" class="pull-right / ct-blog__followButton / ct-button ct-button_theme_gray ct-button_rounded">FOLLOWING</a>
		<span class="ct-blogPostItem__stat"><i class="fa fa-user"></i>123456</span>
		<span class="ct-blogPostItem__stat"><i class="fa fa-thumbs-up"></i>56575</span>
		<span class="ct-blogPostItem__stat / hidden-xs hidden-sm"><i class="fa fa-bookmark"></i>9765</span>
	</div>
</div>
<div class="ct-blogPostItem">
	<a href="#" class="ct-blogPostItem__bookmark / fa fa-bookmark / pull-right"></a>
	<div class="ct-blogPostItem__company">
		<a class="ct-blogPostItem__image" href="#"><img src="../i/src/main/company-4.png" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit"/></a>
		<div class="hidden-sm hidden-md hidden-lg / ct-blogPostItem__companyName">by <a href="#">Satoshi Nakomoto</a></div>
	</div>
	<div class="ct-blogPostItem__header">
		<a class="ct-blogPostItem__title" href="#"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></a>
	</div>
	<div class="clearfix visible-xs">
		<time class="ct-blogPostItem__published pull-left" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<a href="#" class="ct-blogPostItem__category pull-right">Privacy & Security</a>
	</div>
	<div class="ct-blogPostItem__meta hidden-xs">
		<time class="text-muted ct-blogPostItem__metaItem" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<a href="#" class="ct-blogPostItem__metaItem">Company Name</a>
		<a href="#" class="ct-blogPostItem__metaItem">Topic title</a>
	</div>
	<p class="ct-blogPostItem__description">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem maiores placeat qui quia recusandae saepe similique tempore? Animi, distinctio, rerum!
	</p>
	<div class="ct-blogPostItem__footer">
		<a href="#" class="pull-right / ct-blog__followButton / ct-button ct-button_theme_gray ct-button_rounded">FOLLOWING</a>
		<span class="ct-blogPostItem__stat"><i class="fa fa-user"></i>123456</span>
		<span class="ct-blogPostItem__stat"><i class="fa fa-thumbs-up"></i>56575</span>
		<span class="ct-blogPostItem__stat / hidden-xs hidden-sm"><i class="fa fa-bookmark"></i>9765</span>
	</div>
</div>
<div class="ct-blogPostItem">
	<a href="#" class="ct-blogPostItem__bookmark / fa fa-bookmark / pull-right"></a>
	<div class="ct-blogPostItem__company">
		<a class="ct-blogPostItem__image" href="#"><img src="../i/src/main/company-5.png" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit"/></a>
		<div class="hidden-sm hidden-md hidden-lg / ct-blogPostItem__companyName">by <a href="#">Satoshi Nakomoto</a></div>
	</div>
	<div class="ct-blogPostItem__header">
		<a class="ct-blogPostItem__title" href="#"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></a>
	</div>
	<div class="clearfix visible-xs">
		<time class="ct-blogPostItem__published pull-left" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<a href="#" class="ct-blogPostItem__category pull-right">Privacy & Security</a>
	</div>
	<div class="ct-blogPostItem__meta hidden-xs">
		<time class="text-muted ct-blogPostItem__metaItem" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<a href="#" class="ct-blogPostItem__metaItem">Company Name</a>
		<a href="#" class="ct-blogPostItem__metaItem">Topic title</a>
	</div>
	<p class="ct-blogPostItem__description">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem maiores placeat qui quia recusandae saepe similique tempore? Animi, distinctio, rerum!
	</p>
	<div class="ct-blogPostItem__footer">
		<a href="#" class="pull-right / ct-blog__followButton / ct-button ct-button_theme_gray ct-button_rounded">FOLLOWING</a>
		<span class="ct-blogPostItem__stat"><i class="fa fa-user"></i>123456</span>
		<span class="ct-blogPostItem__stat"><i class="fa fa-thumbs-up"></i>56575</span>
		<span class="ct-blogPostItem__stat / hidden-xs hidden-sm"><i class="fa fa-bookmark"></i>9765</span>
	</div>
</div>
