<div class="ct-blogPostItem ct-blogPostItem_short">
	<div class="ct-blogPostItem__company hidden-xs">
		<a class="ct-blogPostItem__image" href="#"><img src="../i/src/main/company-1.png" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit"/></a>
	</div>
	<div class="ct-blogPostItem__header">
		<a class="ct-blogPostItem__title" href="#"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></a>
	</div>
	<div class="ct-blogPostItem__footer">
		<time class="ct-blogPostItem__published pull-left" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<a href="#" class="ct-blogPostItem__category pull-right">Privacy & Security</a>
	</div>
</div>
<div class="ct-blogPostItem ct-blogPostItem_short">
	<div class="ct-blogPostItem__company hidden-xs">
		<a class="ct-blogPostItem__image" href="#"><img src="../i/src/main/company-2.png" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit"/></a>
	</div>
	<div class="ct-blogPostItem__header">
		<a class="ct-blogPostItem__title" href="#"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></a>
	</div>
	<div class="ct-blogPostItem__footer">
		<time class="ct-blogPostItem__published pull-left" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<a href="#" class="ct-blogPostItem__category pull-right">Privacy & Security</a>
	</div>
</div>
