<div class="ct-blogPostItem ct-blogPostItem_short">
	<a href="#" class="ct-blogPostItem__bookmark ct-blogPostItem__bookmark_active / fa fa-bookmark / hidden-lg hidden-md"></a>
	<div class="ct-blogPostItem__company">
		<a class="ct-blogPostItem__image" href="#"><img src="../i/src/main/company-1.png" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit"/></a>
		<div class="hidden-sm hidden-md hidden-lg / ct-blogPostItem__companyName">by <a href="#">Satoshi Nakomoto</a></div>
		<div class="hidden-xs">
			<a href="#" class="ct-blog__followButton / ct-button ct-button_theme_gray ct-button_rounded">FOLLOWING</a>
		</div>
	</div>
	<div class="ct-blogPostItem__header">
		<a class="ct-blogPostItem__title" href="#"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></a>
	</div>
	<div class="ct-blogPostItem__footer">
		<time class="ct-blogPostItem__published pull-left" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<span class="ct-blogPostItem__stat"><i class="fa fa-eye"></i>123456</span>
		<span class="ct-blogPostItem__stat"><i class="fa fa-share"></i>56575</span>
	</div>
</div>
<div class="ct-blogPostItem ct-blogPostItem_short">
	<a href="#" class="ct-blogPostItem__bookmark / fa fa-bookmark / hidden-lg hidden-md"></a>
	<div class="ct-blogPostItem__company">
		<a class="ct-blogPostItem__image" href="#"><img src="../i/src/main/company-2.png" alt="Lorem ipsum dolor sit amet, consectetur adipisicing elit"/></a>
		<div class="hidden-sm hidden-md hidden-lg / ct-blogPostItem__companyName">by <a href="#">Satoshi Nakomoto</a></div>
		<div class="hidden-xs">
			<a href="#" class="ct-blog__followButton / ct-button ct-button_theme_yellow ct-button_rounded">FOLLOW</a>
		</div>
	</div>
	<div class="ct-blogPostItem__header">
		<a class="ct-blogPostItem__title" href="#"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong></a>
	</div>
	<div class="ct-blogPostItem__footer">
		<time class="ct-blogPostItem__published pull-left" datetime="2012-10-10 20:13:31">11 HOURS AGO</time>
		<span class="ct-blogPostItem__stat"><i class="fa fa-eye"></i>123456</span>
		<span class="ct-blogPostItem__stat"><i class="fa fa-share"></i>56575</span>
	</div>
</div>
