&control
{
	@{b}__menuItem
	{
		position : relative;
		overflow : hidden;
	}

	@{b}__control
	{
		display        : inline-block;
		margin-right   : 5px;
		vertical-align : middle;

		&_invisible
		{
			position : absolute;
			height   : 1px;
			width    : 1px;
			opacity  : 0;
			left     : -999px;
		}
	}

}
