@{classPrefix}breadcrumbs
{
	@b : %(~"%sbreadcrumbs", @classPrefix);
	font-size : 0;
	padding   : 10px 0;

	@{b}__item
	{
		color        : #465A65;
		font-size    : 12px;
		font-weight  : 600;
		line-height  : 17px;
		display      : inline-block;
		margin-right : 2px;

		&_link
		{
			text-decoration : none;
			&:hover
			{
				text-decoration : underline;
				color           : darken(#465A65, 13%);
			}
		}

		&_static
		{
		}
	}
}
