<div class="ct-blogCompaniesTable">
	<div class="ct-blogCompaniesTable__head">
		<div class="row">
			<div class="ct-blogCompaniesTable__sort / col-sm-5 col-sm-offset-2">
				<a href="#" class="ct-blogCompaniesTable__sortLink"><i class="fa fa-sort"></i>Name</a>
			</div>
			<div class="ct-blogCompaniesTable__sort ct-blogCompaniesTable__sort_subscribers / col-sm-2">
				<a href="#" class="ct-blogCompaniesTable__sortLink">Subscribers<i class="fa fa-sort"></i></a>
			</div>
			<div class="ct-blogCompaniesTable__sort / col-sm-2">
				<a href="#" class="ct-blogCompaniesTable__sortLink"><i class="fa fa-sort-asc"></i>Following</a>
			</div>
		</div>
	</div>
	<div class="ct-blogCompaniesTable__content">
		<div class="ct-blogCompanyItem">
			<div class="row">
				<a class="col-sm-2 ct-blogCompanyItem__imagebox" href="#">
					<img src="../i/src/companies/company (1).png" class="img-responsive" alt=""/>
				</a>
				<div class="col-sm-5 ct-blogCompanyItem__info">
					<a href="#" class="ct-blogCompanyItem__name">Lorem ipsum</a>
					<div>
						<a href="#" class="ct-blogCompanyItem__category">Information technology</a>
					</div>
				</div>
				<div class="col-sm-2 ct-blogCompanyItem__subscribers">
					258948
				</div>
				<div class="col-sm-2 ct-blogCompanyItem__follow">
					<a href="#" class="ct-blog__followButton / ct-button ct-button_rounded ct-button_theme_gray">FOLLOWING</a>
				</div>
			</div>
		</div>
		<div class="ct-blogCompanyItem">
			<div class="row">
				<a class="col-sm-2 ct-blogCompanyItem__imagebox" href="#">
					<img src="../i/src/companies/company (2).png" class="img-responsive" alt=""/>
				</a>
				<div class="col-sm-5 ct-blogCompanyItem__info">
					<a href="#" class="ct-blogCompanyItem__name">Lorem ipsum</a>
					<div>
						<a href="#" class="ct-blogCompanyItem__category">Social networks</a>
					</div>
				</div>
				<div class="col-sm-2 ct-blogCompanyItem__subscribers">
					548948
				</div>
				<div class="col-sm-2 ct-blogCompanyItem__follow">
					<a href="#" class="ct-blog__followButton / ct-button ct-button_rounded ct-button_theme_yellow">FOLLOW</a>
				</div>
			</div>
		</div>
	</div>
</div>
