&simple
{
	@{b}__button
	{
		background : none;
		color      : #000;

		&::after
		{
			content            : '';
			position           : absolute;
			right              : 10px;
			top                : 50%;
			margin-top         : -2px;
			margin-right       : 4px;
			-webkit-transition : all 350ms;
			-moz-transition    : all 350ms;
			-ms-transition     : all 350ms;
			-o-transition      : all 350ms;
			transition         : all 350ms;
			#triangle > .down(5px, 5px, ~'', inline-block);
		}
	}

	@{b}__menu
	{
		background-color : #ECEFF1;
		box-shadow       : 0 2px 4px 0 rgba(0, 0, 0, 0.16);

		> li > @{b}__menuItem,
		> li > a
		{
			background : none;
			color      : #000;
		}

		> li.active > @{b}__menuItem,
		> li > @{b}__menuItem:hover,
		> li.active > a,
		> li > a:hover
		{
			color : lighten(#000, 25%);
		}
	}

	.open&
	{
		@{b}__button
		{
			background-color : darken(#FFF, 2%);
			text-decoration  : underline;

			&::after
			{
				color             : #FABF2C;
				-webkit-transform : rotate(180deg) translateY(5px);
				-moz-transform    : rotate(180deg) translateY(5px);
				-ms-transform     : rotate(180deg) translateY(5px);
				-o-transform      : rotate(180deg) translateY(5px);
				transform         : rotate(180deg) translateY(5px);
			}
		}
	}

}
