&inside
{

	> @{b}__nav
	{
		background-color : #FFF;
		padding          : 0 25px 25px;
		box-shadow       : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		z-index          : 2;

		li
		{
			padding : 0 2px;
			a
			{
				text-align         : center;
				padding            : 10px 12px;
				display            : block;
				z-index            : 2;
				-webkit-transition : all 250ms;
				-moz-transition    : all 250ms;
				-ms-transition     : all 250ms;
				-o-transition      : all 250ms;
				transition         : all 250ms;

				color              : #555;
				background         : #FFF;
				font-size          : 16px;
				line-height        : 22px;
				border-bottom      : 1px solid transparent;
			}

			&.active > a,
			&:hover > a
			{
				border-color : #FABF2C;
			}
		}
	}

	> @{b}__content
	{
		z-index  : 3;
		position : relative;
	}
}
