//html, body
//{
//	height : 100%;
//}

@{classPrefix}page
{
	@b : %(~"%spage", @classPrefix);

	margin      : 0 !important;
	padding     : 0;
	//font-size   : @font-size-base;
	//font-weight : 400;
	//line-height : 1.1;

	//@import "elements/header/include";
	//@import "elements/title/include";
	//@import "elements/footer/include";

}
