<script type="text/javascript" src="https://cointelegraph.com/assets/js/script.js"></script>
<script type="text/javascript" src="/js/slideout.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
