<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<meta charset="utf-8">
<style type="text/css">
	@import "../css/additional/style.css";
	/*@import "https://cointelegraph.com/assets/css/style.css";*/
	@import "https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css";
</style>
<link rel="stylesheet" href="../css/owl.carousel.min.css"/>
<link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
<link rel="stylesheet" href="../css/additional/slideout.css"/>
<link rel="stylesheet" href="../css/style.css"/>
<!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">-->
<!--<link rel="icon" href="/favicon.ico" type="image/x-icon">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
