<div id="header">
	<div class="container-fluid_ clearfix">
		<nav class="navbar navbar-inverse new-menu">
			<div class="collapse navbar-collapse">
				<div class="container new-menu-container">
					<ul class="nav navbar-nav ">
						<li class="dropdown"><a href="#" class="dropdown-toggle" title="Explained">Menu for example</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>

