@{classPrefix}fileInput
{
	@b : %(~"%sfileInput", @classPrefix);

	width       : 100%;
	white-space : nowrap;
	position    : relative;
	overflow    : hidden;
	cursor      : pointer;

	@{b}__original
	{
		.opacity(0);
		position : absolute;
		left     : -999px;
		outline  : none;
	}
	@{b}__files
	{
		display        : inline-block;
		color          : #000;
		font-size      : 14px;
		line-height    : 19px;
		vertical-align : middle;
		.text-overflow();
	}
	@{b}__button
	{
		color                 : #000;
		font-size             : 13px;
		line-height           : 15px;
		margin-right          : 5px;
		-webkit-border-radius : 6px;
		-moz-border-radius    : 6px;
		border-radius         : 6px;
		border                : 1px solid #CECECE;
		padding               : 3px 8px;
		display               : inline-block;
		vertical-align        : middle;
	}

	&:hover
	{
		@{b}__button
		{
			background : lighten(#CECECE, 10%);
		}
	}
}
