@{classPrefix}menuAccount
{
	@b : %(~"%smenuAccount", @classPrefix);

	width   : 160px;
	padding : 15px 0;

	@{b}__item
	{
		display     : block;
		white-space : nowrap;
		padding     : 16px 0 16px 46px;
		line-height : 14px;
		position    : relative;

		&Icon
		{
			display           : block;
			left              : 15px;
			width             : 20px;
			text-align        : center;
			position          : absolute;
			top               : 50%;
			-webkit-transform : translateY(-50%);
			-moz-transform    : translateY(-50%);
			-ms-transform     : translateY(-50%);
			-o-transform      : translateY(-50%);
			transform         : translateY(-50%);
			font-size         : 0;

			@{classPrefix}icon,
			.fa
			{
				position : relative;
			}
		}

		&Notification
		{
			display               : block;
			position              : absolute;
			left                  : 100%;
			bottom                : 100%;
			width                 : 9px;
			height                : 9px;
			-webkit-border-radius : 9px;
			-moz-border-radius    : 9px;
			border-radius         : 9px;
			margin-left           : -4px;
			margin-bottom         : -4px;
		}

		&Label
		{
			vertical-align : middle;
			display        : inline-block;
			text-transform : uppercase;
			font-size      : 10px;
			font-weight    : 600;
		}

		&_link
		{
			text-decoration : none;
		}

		&_active
		{
			position : relative;

			&::after
			{
				content           : '';
				width             : 8px;
				height            : 8px;
				position          : absolute;
				top               : 50%;
				right             : 0;
				-webkit-transform : rotate(45deg);
				-moz-transform    : rotate(45deg);
				-ms-transform     : rotate(45deg);
				-o-transform      : rotate(45deg);
				transform         : rotate(45deg);
				margin-right      : -4px;
				margin-top        : -4px;
			}
		}

		&:hover
		{
			@{b}__itemLabel
			{
				text-decoration : underline;
			}
		}
	}

	@import "mods/include";
}
