&flat
{
	@{b}__button
	{
		background-color : #ECEFF1;
		color            : #253137;

		&::after
		{
			content            : '';
			position           : absolute;
			right              : 15px;
			top                : 50%;
			margin-top         : -2px;
			-webkit-transition : all 350ms;
			-moz-transition    : all 350ms;
			-ms-transition     : all 350ms;
			-o-transition      : all 350ms;
			transition         : all 350ms;
			.ct-icon.ct-icon_arrow-down();
		}

		&:hover
		{
			background-color : darken(#ECEFF1, 6%);
		}
	}

	@{b}__menu
	{
		border           : none;
		background-color : #ECEFF1;

		> li > @{b}__menuItem,
		> li > a
		{
			color      : #253137;
			background : #ECEFF1;
		}

		> li.active > @{b}__menuItem,
		> li > @{b}__menuItem:hover,
		> li.active > a,
		> li > a:hover
		{
			background : darken(#ECEFF1, 3%);
		}
	}

	.open&
	{
		@{b}__button
		{
			background-color : darken(#ECEFF1, 6%);

			&::after
			{
				-webkit-transform : rotate(180deg) translateY(2px);
				-moz-transform    : rotate(180deg) translateY(2px);
				-ms-transform     : rotate(180deg) translateY(2px);
				-o-transform      : rotate(180deg) translateY(2px);
				transform         : rotate(180deg) translateY(2px);
			}
		}
	}
}
