&submit
{
	border             : 1px solid #AFBDC4;
	border-radius      : 2px;
	background-color   : #FFF;
	-webkit-transition : all 250ms;
	-moz-transition    : all 250ms;
	-ms-transition     : all 250ms;
	-o-transition      : all 250ms;
	transition         : all 250ms;
}
