@{classPrefix}button
{
	@b : %(~"%sbutton", @classPrefix);

	a&
	{
		text-decoration : none !important;
	}

	display        : inline-block;
	position       : relative;
	padding-left   : 15px;
	padding-right  : 15px;
	padding-top    : 9px;
	padding-bottom : 9px;
	line-height    : 22px;
	outline        : none;
	border         : 1px solid transparent;
	font-size      : @font-size-base;
	vertical-align : middle;
	transition     : background 600ms;
	border-radius  : 3px;

	&_wide
	{
		clear   : both;
		display : block;
		width   : 100% !important;
	}

	&_rounded
	{
		border-radius : 6*2+@line-height-computed+2;
	}

	&_squared
	{
		border-radius : 0 !important;
	}

	&_flat
	{
		border : 0 !important;
	}

	&_strong
	{
		font-weight : bold;
	}

	@import 'mods/include';
}
