&default
{
	background-color : #465A65;

	@{b}__item
	{
		color            : #AFBDC4;

		&Notification
		{
			border           : 1px solid #465A65;
			background-color : #FABF2C;
		}

		&:hover
		{
			&,
			&::after
			{
				background-color : darken(#465A65, 5%);
			}
		}

		&_active
		{
			&,
			&::after
			{
				background-color : #253137;
			}

			@{b}__itemNotification
			{
				border-color : #253137;
			}
		}
	}
}
