&ghotic
{
	@background: #040404;

	border-color : #a19f9d;;
	color        : #FFF !important;
	background   : @background;

	&:hover,
	&:focus
	{
		background : lighten(@background, 10%);

	}
	&@{b}_active,
	&:active
	{
		background : lighten(@background, 2%);
	}
}
