@{classPrefix}mobileSidebarPanel
{
	@b : %(~"%smobileSidebarPanel", @classPrefix);
	background-color : #ECEFF1;
	min-height       : 100vh;

	&__header
	{
		padding    : 15px 0 0 15px;
		overflow   : hidden;
		text-align : justify;
		&::after
		{
			content : '';
			width   : 100%;
			display : inline-block;
		}
	}
	@{b}__userbar
	{
		//padding : 15px 0;
	}
	@{b}__userbar,
	@{b}__close
	{
		display        : inline-block;
		vertical-align : middle;
	}

	@{b}__close
	{
		width                   : 48px;
		height                  : 48px;
		-webkit-background-size : 18px 19px;
		background-size         : 18px 19px;
		background-position     : center center;
	}

	@{b}__nav
	{
		&Inner
		{
			margin  : 0;
			padding : 0;
		}

		&Heading
		{
			margin      : 0;
			padding     : 0 0 0 24px;
			position    : relative;
			color       : #465A65;
			font-size   : 10px;
			font-weight : bold;
			line-height : 14px;

			&::before
			{
				content    : '';
				display    : block;
				position   : absolute;
				left       : 0;
				top        : 6px;
				width      : 8px;
				border-top : 2px solid #253137;
			}
		}

		&Links
		{
			padding : 5px 0 10px 24px;

			a
			{
				color       : #000;
				font-size   : 16px;
				font-weight : 300;
				line-height : 30px;

				@{classPrefix}icon
				{
					width               : 20px;
					background-position : 0 0;
					margin-right        : 13px;
					display             : inline-block;
					vertical-align      : middle;
				}
			}
		}

		&More
		{
			overflow : hidden;
			position : relative;

			&Toggle
			{
				color       : #000;
				font-size   : 16px;
				font-weight : 300;
				line-height : 30px;
				position    : relative;
				margin      : 0;

				&::after
				{
					content  : '';
					position : absolute;
					top      : 50%;
					left     : 150px;
					.ct-icon.ct-icon_arrow-down();
				}
			}

			&Links
			{
				display : none;
			}

			&Control
			{
				opacity  : 0;
				position : absolute;
				left     : -120%;

				&:checked
				{
					~ @{b}__navMoreToggle
					{
						opacity : 0.7;

						&::after
						{
							margin-top        : -1px;
							-webkit-transform : rotate(180deg);
							-moz-transform    : rotate(180deg);
							-ms-transform     : rotate(180deg);
							-o-transform      : rotate(180deg);
							transform         : rotate(180deg);
						}
					}
					~ @{b}__navMoreLinks
					{
						display : block;
					}
				}
			}
		}

	}

	@{b}__footer
	{
		margin-top       : 100px;
		background-color : #253137;
		padding          : 20px 23px 40px;
	}
}
