@{classPrefix}articleListItem
{
	@imageWidth : 175px;
	@b : %(~"%sarticleListItem", @classPrefix);

	padding-left  : @imageWidth+18;
	margin-bottom : 30px;

	@{b}__image
	{
		max-width   : @imageWidth;
		float       : left;
		margin-left : -(@imageWidth+18);
		img
		{
			display   : block;
			height    : auto;
			max-width : 100%;
		}
	}

	@{b}__title
	{
		display     : block;
		color       : #253137;
		font-size   : 16px;
		font-weight : bold;
		line-height : 22px;
	}
	@{b}__description
	{
		display     : block;
		margin      : 15px 0;
		color       : #010101;
		font-size   : 16px;
		line-height : 28px;

	}

	@media (max-width : @screen-xs-max)
	{
		padding : 0;
		@{b}__image
		{
			display   : block;
			max-width : none;
			float     : none;
			margin    : 0;

			img
			{
				width : 100%;
			}
		}

		@{b}__title
		{
			margin-top  : 8px;

			color       : #253137;
			font-size   : 16px;
			font-weight : bold;
			line-height : 22px;
		}

		@{b}__description
		{
			margin-top  : 12px;

			color       : #253137;
			font-size   : 14px;
			line-height : 24px;
		}
	}
}

