&white
{
	border-color : #AFBDC4;
	color        : #253137 !important;
	background   : @brand-white;

	&:hover,
	&:focus
	{
		background   : darken(@brand-white, 1%);
		border-color : #253137;
	}

	&@{b}_active,
	&:active
	{
		box-shadow : inset 3px 3px 2px darken(@brand-white, 5%);
		background : darken(@brand-white, 4%);
	}
}
