@{classPrefix}blog
{
	@b : %(~"%sblog", @classPrefix);
	padding-top    : 30px;
	padding-bottom : 150px;

	@{b}__header
	{
		margin-bottom : 20px;

		&::after
		{
			content : '';
			display : table;
			clear   : both;
		}
		@{b}__title
		{
			color  : #010101;
			margin : 0;
		}
	}

	/*
	@{b}__sidebar
	{
		&Header
		{
			overflow    : hidden;
			padding-top : 25px;

			&Title
			{
				margin : 10px 0 0;
				&,
				a
				{
					color       : #010101;
					font-size   : 18px;
					font-weight : 600;
					line-height : 24px;
				}
			}
		}
	}
	*/

	@{b}__addCompanyButton
	{
		color       : #253137;
		font-size   : 10px;
		font-weight : bold;
		line-height : 20px;
		text-align  : center;
		padding     : 10px 21px;
	}

	@{b}__followButton
	{
		padding            : 8px 12px;
		box-shadow         : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		font-size          : 12px;
		font-weight        : 600;
		line-height        : 16px;
		text-align         : center;
		min-width          : 100px;
		-webkit-transition : all 250ms;
		-moz-transition    : all 250ms;
		-ms-transition     : all 250ms;
		-o-transition      : all 250ms;
		transition         : all 250ms;

		&:hover
		{
			-webkit-transform : translateY(-1px);
			-moz-transform    : translateY(-1px);
			-ms-transform     : translateY(-1px);
			-o-transform      : translateY(-1px);
			transform         : translateY(-1px);
			background-color  : #FABF2C;
			border-color      : #FABF2C;
			color             : #253137;
		}
		&:active
		{
			color      : #253137;
			box-shadow : inset 2px 2px 3px darken(#FABF2C, 8%) !important;
			background : darken(#FABF2C, 3%);
		}
	}

	@{b}__buttonBack
	{
		position      : relative;
		color         : #253137;
		font-size     : 10px;
		font-weight   : bold;
		line-height   : 14px;
		border-radius : 2px;
		padding       : 12px 16px 12px 31px;

		&::before
		{
			content      : '';
			position     : absolute;
			left         : 10px;
			top          : 50%;
			margin-top   : -5px;
			margin-right : 4px;
			#triangle > .left(8px, 5px, #253137, inline-block);
		}
	}

	@{b}__linkBack
	{
		margin-top  : 10px;
		color       : #000;
		font-size   : 12px;
		font-weight : bold;
		line-height : 17px;
		margin-left : 15px;

		&::before
		{
			content        : '';
			display        : inline-block;
			vertical-align : middle;
			margin-right   : 7px;
			.ct-icon.ct-icon_arrow-left-line()
		}
	}

	@{b}__topTextDescription
	{
		color         : #000;
		font-size     : 16px;
		line-height   : 22px;
		margin-bottom : 25px;
	}
	@{b}__posts
	{
		&_topic
		{
			margin-bottom : 0;
		}
	}

	@{b}__plainText
	{
		padding          : 60px 10px 20px;
		background-color : #FFF;
		box-shadow       : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		text-align       : center;
		color            : #000;
		font-size        : 16px;
		line-height      : 22px;

		&Block
		{
			margin-bottom : 15px;
		}
	}
}

@{classPrefix}blogSidebarNav
{
	@b : %(~"%sblogSidebarNav", @classPrefix);

	list-style : none;
	padding    : 15px 0;
	margin     : 0;

	@{b}__item
	{
		> a
		{
			padding            : 6px 28px 7px 24px;
			color              : #000;
			font-size          : 14px;
			line-height        : 19px;
			display            : block;
			//overflow           : hidden;
			-webkit-transition : all 150ms;
			-moz-transition    : all 150ms;
			-ms-transition     : all 150ms;
			-o-transition      : all 150ms;
			transition         : all 150ms;
			text-decoration    : none;

			.__counter
			{
				float : right;
			}
		}

		> a:hover,
		> a:focus,
		> a:active,
		&_active > a
		{
			background-color : #465A65;
			color            : #FFF;
		}
	}

	/*&@{b}_companies
	{
		@{b}__item
		{
			> a
			{
				padding     : 8px 15px 8px 140px;
				font-size   : 16px;
				font-weight : bold;
				line-height : 22px;

				img
				{
					max-width   : 80px;
					margin-left : -116px;
					display     : block;
					float       : left;
					box-shadow  : 0 2px 4px 0 rgba(0, 0, 0, 0.1);
				}
				strong
				{
					vertical-align : middle;
				}

				&:before
				{
					content        : '';
					height         : 100%;
					display        : inline-block;
					vertical-align : middle;
				}
				&:after
				{
					content : '';
					width   : 100%;
					clear   : both;
					display : block;
				}
			}

			> a:hover,
			> a:focus,
			> a:active,
			&_active > a
			{
				color      : #000;
				background : #FABF2C;
			}
		}
	}*/

}

@{classPrefix}blogRelatedPosts
{
	@b : %(~"%sblogRelatedPosts", @classPrefix);
	padding          : 15px;
	margin           : 30px 0;
	position         : relative;
	border-radius    : 2px;
	background-color : #ECEFF1;
	box-shadow       : 0 2px 4px 0 rgba(0, 0, 0, 0.16);

	@{b}__title
	{
		margin      : 0 0 15px 8px;
		color       : #010101;
		font-size   : 18px;
		font-weight : 600;
		line-height : 24px;
	}
	@{b}__item
	{
		> a
		{
			padding            : 8px 15px 8px 86px;
			color              : #000;
			font-size          : 14px;
			line-height        : 19px;
			display            : block;
			overflow           : hidden;
			-webkit-transition : all 150ms;
			-moz-transition    : all 150ms;
			-ms-transition     : all 150ms;
			-o-transition      : all 150ms;
			transition         : all 150ms;
			text-decoration    : none;

			img
			{
				max-width   : 56px;
				margin-left : -78px;
				display     : block;
				float       : left;
				box-shadow  : 0 2px 4px 0 rgba(0, 0, 0, 0.1);
			}
		}

		> a:hover,
		> a:focus,
		> a:active,
		&_active > a
		{
			background-color : #465A65;
			color            : #FFF;
		}
	}
}

/*
@{classPrefix}blogTopics
{
	@b : %(~"%sblogTopics", @classPrefix);
	margin-top    : 30px;
	margin-bottom : 0;

	@{b}__title
	{
		color       : #010101;
		font-size   : 18px;
		font-weight : 600;
		line-height : 24px;

		&:before
		{
			content          : '';
			display          : inline-block;
			height           : 8px;
			width            : 8px;
			background-color : #FABF2C;
			margin-right     : 8px;
			vertical-align   : top;
		}
	}

	@{b}__grid
	{
		list-style : none;
		padding    : 0;
		margin-top : 23px;

		@{b}__item
		{
			margin-bottom : 32px;

			> a
			{
				background         : #FFF;
				color              : #000;
				display            : block;
				padding-top        : 6px;
				padding-bottom     : 7px;
				box-shadow         : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
				font-size          : 14px;
				line-height        : 19px;
				text-align         : center;
				margin-right       : 20px;
				position           : relative;
				-webkit-transition : all 350ms;
				-moz-transition    : all 350ms;
				-ms-transition     : all 350ms;
				-o-transition      : all 350ms;
				transition         : all 350ms;

				@{b}__itemSuperTag
				{
					top              : -15px;
					right            : -8px;
					position         : absolute;
					display          : block;
					background-color : #FABF2C;
					padding          : 3px 15px;
					color            : #253137;
					font-size        : 10px;
					font-weight      : bold;
					line-height      : 14px;
					text-align       : center;
				}

				&:hover
				{
					box-shadow        : 0 3px 15px 0 rgba(0, 0, 0, 0.16);
					background        : darken(#FFF, 1%);
					-webkit-transform : translateY(-1px);
					-moz-transform    : translateY(-1px);
					-ms-transform     : translateY(-1px);
					-o-transform      : translateY(-1px);
					transform         : translateY(-1px);
				}
			}
		}
	}
}
*/

@{classPrefix}blogPostItem
{
	@b : %(~"%sblogPostItem", @classPrefix);
	padding          : 16px 16px 10px 128px;
	background-color : #FFF;
	box-shadow       : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	margin-bottom    : 8px;
	overflow         : hidden;

	&::after
	{
		content : '';
		display : block;
		width   : 100%;
		clear   : both;
	}

	@{b}__bookmark
	{
		float           : right;
		color           : #AFBDC4;
		text-decoration : none !important;
		font-size       : 17px;
		margin-left     : 10px;

		&_active,
		&:hover
		{
			color : #FABF2C;
		}
	}

	@{b}__company
	{
		display     : block;
		width       : 80px;
		margin-left : -104px;
		float       : left;
		text-align  : center;

		@{b}__image
		{
			display     : block;
			font-size   : 12px;
			line-height : 15px;
			box-shadow  : 0 2px 4px 0 rgba(0, 0, 0, 0.1);

			img
			{
				.img-responsive;
				max-height : 100%;
			}
		}

	}

	@{b}__header
	{
		overflow : hidden;
	}

	@{b}__title
	{
		color       : #010101;
		font-weight : 600;
		font-size   : 18px;
		line-height : 1.1;
	}

	@{b}__meta
	{
		font-size : 13px;
		margin    : 5px 0;

		a
		{
			color : inherit !important;
		}

		@{b}__metaItem
		{
			display        : inline-block;
			white-space    : nowrap;
			vertical-align : middle;

			+ @{b}__metaItem::before
			{
				content        : '';
				margin         : 0 10px 1px;
				display        : inline-block;
				vertical-align : bottom;
				width          : 1px;
				height         : 15px;
				background     : #465A65;
			}
		}
	}

	@{b}__description
	{
		color         : #010101;
		font-size     : 14px;
		margin        : 5px 0;
		padding-right : 50px;
	}

	@{b}__footer
	{
		padding  : 2px 3px 3px 0;
		overflow : hidden;
		&::before
		{
			content        : '';
			display        : inline-block;
			height         : 37px;
			vertical-align : middle;
		}
	}

	@{b}__stat
	{
		color          : #465A65;
		font-size      : 14px;
		line-height    : 14px;
		display        : inline-block;
		vertical-align : middle;

		+ @{b}__stat
		{
			margin-left : 20px;
		}

		.fa
		{
			color          : #AFBDC4;
			font-size      : 13px;
			vertical-align : middle;
			display        : inline-block;
			line-height    : 14px;
			margin-right   : 2px;
		}
	}

	@{b}__category
	{
		color       : #465A65;
		font-size   : 14px;
		font-weight : 600;
		line-height : 14px;
	}
	@{b}__published
	{
		text-transform : uppercase;
		color          : #555;
		font-size      : 14px;
		line-height    : 14px;
	}

	@{b}__actions
	{
		margin-top : 20px;
		text-align : right;

		&Button
		{
			color       : #010101;
			font-size   : 10px;
			font-weight : bold;
			line-height : 14px;
			margin      : 0 5px;
			border      : 0;
			min-width   : 88px;
		}
	}

	&_short
	{
		padding      : 8px;
		padding-left : 88px;

		@{b}__company
		{
			width       : 72px;
			margin-left : -80px;
		}

		@{b}__footer
		{
			overflow    : hidden;
			text-align  : right;
			padding     : 0;
			margin-top  : 15px;
			color       : #555;
			line-height : 14px;

			@{b}__stat
			{
				vertical-align : top;
			}

			&::before
			{
				display : none;
			}
		}
	}
}

@{classPrefix}blogSidebarBox
{
	@b : %(~"%sblogSidebarBox", @classPrefix);

	display          : block;
	position         : relative;
	border-radius    : 2px;
	background-color : #ECEFF1;
	box-shadow       : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	margin-top       : 10px;
	margin-bottom    : 15px;
	padding          : 20px 0 0;

	@{b}__title
	{
		color          : #000;
		font-size      : 18px;
		font-weight    : 600;
		line-height    : 24px;
		border-bottom  : 2px solid #AFBDC4;
		padding-bottom : 8px;
		padding-right  : 20px;
		margin         : 0 8px;

		.__counter
		{
			font-size   : 14px;
			line-height : 19px;
			margin-top  : 4px;
		}
	}

	@{b}__text
	{
		padding     : 16px 24px;
		font-size   : 16px;
		line-height : 22px;
		color       : #253137;
		a
		{
			color : #253137;
		}

		p + p
		{
			margin-top : 40px;
		}

	}
	@{b}__container
	{
		padding-bottom : 45px;
	}
}

@{classPrefix}blogCompanies
{
	@b : %(~"%sblogCompanies", @classPrefix);
	//margin-top : 30px;

	@{b}__tabs
	{
		margin-top : 21px;

		@{classPrefix}tabs__content
		{
			padding : 5px 0;
		}
	}
}

@{classPrefix}blogCompaniesTable
{
	@b : %(~"%sblogCompaniesTable", @classPrefix);

	width           : 100%;
	border-collapse : collapse;
	border-spacing  : 0;

	@{b}__head
	{
		padding : 8px 12px 8px 8px;
	}
	@{b}__sort
	{
		font-size   : 10px;
		line-height : 14px;
		font-weight : bold;

		&Link
		{
			color           : #253137;
			text-decoration : none;

			&:hover
			{
				color : lighten(#253137, 40%);
			}

			.fa
			{
				margin-right : 5px;
			}
		}

		&_subscribers
		{
			text-align : right;
			.fa
			{
				margin-right : 0;
				margin-left  : 5px;
			}
		}
	}
}

@{classPrefix}blogCompanyItem
{
	@b : %(~"%sblogCompanyItem", @classPrefix);
	padding          : 16px 16px 16px 16px;
	background-color : #FFF;
	box-shadow       : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	font-size        : 0;
	margin-bottom    : 8px;

	@{b}__imagebox
	{
		img
		{
			width                 : 64px;
			-webkit-border-radius : 2px;
			-moz-border-radius    : 2px;
			border-radius         : 2px;
			box-shadow            : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		}
	}
	@{b}__imagebox,
	@{b}__info,
	@{b}__subscribers,
	@{b}__follow
	{
		display        : inline-block;
		float          : none;
		vertical-align : top;
	}

	@{b}__name
	{
		color       : #253137;
		font-size   : 18px;
		font-weight : bold;
		line-height : 24px;
	}
	@{b}__category
	{
		color       : #253137;
		font-size   : 12px;
		line-height : 16px;
		margin-top  : 8px;
		display     : inline-block;
	}
	@{b}__subscribers
	{
		color       : #465A65;
		font-size   : 14px;
		line-height : 14px;
		text-align  : right;
		padding-top : 23px;

		&::before
		{
			content      : '';
			display      : inline-block;
			margin-right : 3px;
			margin-top   : 1px;
			.ct-icon.ct-icon_user();
		}
	}
	@{b}__follow
	{
		padding-top : 16px;
	}

	&@{b}_vcard
	{
		padding-left       : 86px;
		padding-right      : 110px;
		padding-top        : 16px;
		padding-bottom     : 16px;
		margin             : 0;
		overflow           : hidden;
		background         : none;
		-webkit-box-shadow : none;
		-moz-box-shadow    : none;
		box-shadow         : none;

		@{b}__imagebox
		{
			float       : left;
			display     : block;
			margin-left : -78px;
		}
		@{b}__info
		{
			display : block;
		}
		@{b}__name
		{
			color       : #253137;
			font-size   : 16px;
			font-weight : bold;
			line-height : 22px;
		}
		@{b}__subscribers
		{
			margin      : 0;
			padding-top : 15px;
		}
		@{b}__follow
		{
			display    : block;
			text-align : right;
			float      : right;
			width      : 110px;
			padding    : 0 8px 0 0;
			margin     : 0 -110px 0 0;
		}

		@{classPrefix}blog__followButton
		{
			visibility : hidden;
			opacity    : 0;
		}
		&:hover @{classPrefix}blog__followButton
		{
			opacity    : 1;
			visibility : visible;
		}
	}
	&@{b}_minimal
	{
		padding : 0;

		@{b}__link
		{
			overflow       : hidden;
			padding        : 8px 8px 8px 56px;
			display        : block;
			vertical-align : middle;

			&:before
			{
				content        : '';
				display        : inline-block;
				height         : 48px;
				vertical-align : middle;
			}
			img
			{
				margin-left   : -48px;
				float         : left;
				width         : 48px;
				margin-right  : 16px;
				border-radius : 2px;
				box-shadow    : 0 2px 4px 0 rgba(0, 0, 0, 0.1);
			}
		}
		@{b}__name
		{
			vertical-align : middle;
		}
	}
}

@{classPrefix}blogPostDetail
{
	@b : %(~"%sblogPostDetail", @classPrefix);

	@{b}__meta
	{
		overflow : hidden;
		padding  : 5px 0;
	}

	@{b}__company,
	@{b}__companyLogo,
	@{b}__companyName,
	@{b}__published,
	@{b}__topic
	{
		display        : inline-block;
		vertical-align : top;
	}

	@{b}__company
	{
		text-decoration : none;
	}

	@{b}__companyLogo
	{
		width        : 64px;
		overflow     : hidden;
		box-shadow   : 0 2px 4px 0 rgba(0, 0, 0, 0.1);
		margin-right : 16px;
	}

	@{b}__companyName
	{
		color       : #010101;
		font-size   : 18px;
		font-weight : 600;
		line-height : 22px;
		margin-top  : 2px;

		&:before
		{
			content          : '';
			display          : inline-block;
			height           : 8px;
			width            : 8px;
			background-color : #FABF2C;
			margin-right     : 8px;
			vertical-align   : top;
		}

		&:after
		{
			content            : '';
			display            : block;
			margin-left        : 16px;
			max-width          : 0;
			border-top         : 1px solid;
			margin-top         : 1px;
			-webkit-transition : all 250ms;
			-moz-transition    : all 250ms;
			-ms-transition     : all 250ms;
			-o-transition      : all 250ms;
			transition         : all 250ms;
		}
	}
	@{b}__company:hover @{b}__companyName:after
	{
		max-width : 100%;
	}

	@{b}__topic
	{
		color       : #465A65;
		font-size   : 14px;
		font-weight : 600;
		line-height : 22px;
		text-align  : center;
		margin-left : 30px;
		margin-top  : 5px;

		&:hover
		{
			color : darken(#465A65, 6%);
		}
	}

	@{b}__published
	{
		margin-top   : 5px;
		margin-right : 60px;
		color        : #A1A1A1;
		font-size    : 14px;
		line-height  : 22px;
	}

	@{b}__body
	{
		margin-top : 16px;

		#post
		{
			.referral_widget
			{
				.total-qty
				{
					color       : #27282D;
					font-size   : 17px;
					line-height : 23px;
				}
				.views
				{
					color     : #8B8B8B;
					font-size : 12px;
				}
			}

			.post-content
			{
				background-color : transparent;

				.image
				{
					max-width : 700px;
					position  : relative;
					margin    : 10px auto;
				}
			}
		}
	}
}

@{classPrefix}blogAddCompanyForm
{
	@b : %(~"%sblogAddCompanyForm", @classPrefix);

	background : #FFF;
	box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	padding    : 9px 20px 50px 14px;
}

@{classPrefix}blogCompanyDetail
{
	@b : %(~"%sblogCompanyDetail", @classPrefix);

	@{b}__card
	{
		margin-top    : 10px;
		margin-bottom : 45px;
	}

	@{b}__image
	{
		box-shadow    : 0 2px 4px 0 rgba(0, 0, 0, 0.1);
		margin-bottom : 20px;
		display       : block;
	}
	@{b}__follow
	{
		text-align : center;
	}

	@{b}__descriptionTitle
	{
		display       : block;
		color         : #010101;
		font-size     : 18px;
		font-weight   : 600;
		line-height   : 24px;
		margin-bottom : 15px;
	}
	@{b}__description
	{
		margin      : 0 0 15px 0;
		color       : #000;
		font-size   : 16px;
		line-height : 22px;
	}

	@{b}__subscribers
	{
		margin-top  : 14px;
		color       : #000;
		font-size   : 16px;
		line-height : 22px;
	}
	@{b}__infoList
	{
		list-style  : none;
		padding     : 0;
		margin      : 0 0 24px;
		color       : #000;
		font-size   : 16px;
		line-height : 22px;

		li
		{
			padding : 2px 0;
		}
		a
		{
			color       : #000;
			font-weight : bold;
		}
	}

	.social-box
	{
		display    : inline-block;
		margin-top : 20px;

		&__item
		{
			display      : inline-block;
			margin-right : 8px;
			margin-top   : 10px;
			&:last-child
			{
				margin-right : 0;
			}
		}
		&__link
		{
			text-decoration       : none;
			display               : block;
			width                 : 26px;
			height                : 26px;
			background-color      : #B0BEC5;
			-webkit-border-radius : 50%;
			border-radius         : 50%;
			text-align            : center;
			&:hover
			{
				background-color : #546E7A;
			}
		}
		&__icon
		{
			line-height : 15px;
			color       : #FFF;
			font-size   : 16px;
		}
	}

	@{b}__team
	{
		padding : 15px 25px;
		ul, ol
		{
			padding-left : 15px;
		}
	}
}

@{classPrefix}blogSliderCompanies
{
	@b : %(~"%sblogSliderCompanies", @classPrefix);

	margin        : 0 -10px;
	margin-bottom : 15px;
}

@{classPrefix}blogCompanySlideItem
{
	@b : %(~"%sblogCompanySlideItem", @classPrefix);

	background    : #FFF;
	box-shadow    : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	padding       : 8px;
	margin-bottom : 5px;

	@{b}__header
	{
		padding-left  : 64px;
		height        : 64px;
		overflow      : hidden;
		margin-bottom : 6px;
	}
	@{b}__right
	{
		display        : inline-block;
		vertical-align : top;
		text-align     : right;
	}
	@{b}__labelTop
	{
		text-transform : uppercase;
		color          : #AFBDC4;
		font-size      : 16px;
		font-weight    : bold;
		line-height    : 22px;
	}
	@{b}__membersStat
	{
		margin-top  : 10px;
		display     : block;
		color       : #465A65;
		font-size   : 14px;
		line-height : 14px;
		text-align  : right;

		&::before
		{
			content        : '';
			margin-right   : 4px;
			vertical-align : middle;
			display        : inline-block;
			.ct-icon.ct-icon_user();
		}
	}
	@{b}__image
	{
		float       : left;
		margin-left : -64px;
		width       : 64px !important;
	}
	@{b}__title
	{
		color         : #253137;
		font-size     : 16px;
		font-weight   : bold;
		line-height   : 22px;
		margin-bottom : 4px;
		display       : block;
		min-height    : 45px;
	}
	@{b}__category
	{
		color             : #253137;
		font-size         : 12px;
		line-height       : 16px;
		display           : block;
		overflow          : hidden;
		white-space       : nowrap;
		-ms-text-overflow : ellipsis;
		text-overflow     : ellipsis;
	}

	&@{b}_link
	{
		text-decoration : none;

		&,
		@{b}__header,
		@{b}__right,
		@{b}__image
		{
			display : block;
		}
	}
}

@{classPrefix}blogNav
{
	@b : %(~"%sblogNav", @classPrefix);
	text-align : justify;

	@{b}__link
	{
		display : inline-block;
	}

	&::after
	{
		content : '';
		display : inline-block;
		width   : 100%;
	}

	&@{b}_buttons
	{
		@{b}__link
		{
			padding            : 8px 12px;
			-webkit-box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
			box-shadow         : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
			font-size          : 12px;
			font-weight        : 600;
			line-height        : 16px;
			text-align         : center;
			-webkit-transition : all 250ms;
			transition         : all 250ms;
		}
	}
}

@{classPrefix}blogRecomedationsList
{
	@b : %(~"%sblogRecomedationsList", @classPrefix);
	list-style : none;
	padding    : 0;
	margin     : 0;

	li
	{
		padding-left  : 64px;
		margin-bottom : 24px;
		white-space   : nowrap;
		overflow      : hidden;

		&::before
		{
			content        : '';
			height         : 48px;
			display        : inline-block;
			vertical-align : middle;
		}

		img
		{
			display     : inline-block;
			width       : 48px;
			margin-left : -64px;
			float       : left;
		}
	}
	@{b}__label
	{
		display        : inline-block;
		color          : #253137;
		font-size      : 16px;
		line-height    : 22px;
		vertical-align : middle;
		white-space    : normal;
	}
}

/*@{classPrefix}blogMobilePanel
{
	@b : %(~"%sblogMobilePanel", @classPrefix);
	font-size : 0;

	&__link
	{
		color          : #000;
		font-size      : 14px;
		font-weight    : 600;
		line-height    : 19px;
		text-transform : uppercase;
		padding        : 8px 0;

		&:hover
		{
			color : lighten(#000, 17%);
		}
	}

	@{classPrefix}dropdownSelect
	{
		position     : static;
		margin-right : 25px;

		&__button
		{
			padding-right : 31px;
			padding-left  : 0;
			font-size     : 14px;
			font-weight   : 600;
			line-height   : 19px;
		}

		&__menu
		{
			padding               : 16px 10px;
			top                   : auto;
			left                  : 0;
			font-size             : 0;
			margin                : 0;
			-webkit-border-radius : 0;
			-moz-border-radius    : 0;
			border-radius         : 0;

			li
			{
				display     : inline-block;
				min-width   : 50%;
				white-space : nowrap;

				a
				{
					padding : 6px 0;
				}
			}
		}
	}
}*/
@import "media-max-width";
@import "media-min-width";
