@media (max-width : @screen-sm-max)
{
	@{classPrefix}blog
	{
		@b : %(~"%sblog", @classPrefix);
		padding-top    : 20px;
		padding-bottom : 50px;

		@{b}__header
		{
			padding-top : 0;
		}

		@{b}__title
		{
			color       : #010101;
			font-size   : 24px;
			font-weight : 600;
			line-height : 33px;
		}
		@{b}__sidebar
		{
			display : none;
		}

		@{b}__posts
		{
			&_tabbed
			{
				padding-top : 20px;
			}
		}

		@{b}__topTextDescription
		{
			margin-bottom : 21px;
			margin-top    : 14px;
		}
	}

	@{classPrefix}blogCompanyDetail
	{
		@b : %(~"%sblogCompanyDetail", @classPrefix);

		@{b}__image
		{
			width     : 100%;
			max-width : 160px;
			margin    : 0 auto 20px;
		}
	}

}

@media (max-width : @screen-xs-max)
{
	@{classPrefix}blog
	{
		@b : %(~"%sblog", @classPrefix);

		@{b}__linkBack
		{
			font-size   : 10px;
			line-height : 14px;
		}

		@{classPrefix}tabs
		{
			@b : %(~"%stabs", @classPrefix);

			&@{b}_outside
			{
				@{b}__nav
				{
					margin : 0 -10px 10px;
				}

				> @{b}__content
				{
					background         : none !important;
					-webkit-box-shadow : none !important;
					-moz-box-shadow    : none !important;
					box-shadow         : none !important;
				}
			}

			&@{b}_inside
			{
				background         : none;
				-webkit-box-shadow : none;
				-moz-box-shadow    : none;
				box-shadow         : none;
				overflow           : initial;

				@{b}__nav
				{
					background : #FFF;
					position   : relative;
					z-index    : 2;
					margin     : 0;
					padding    : 0 8px 8px;

					> li
					{
						padding : 0;
						> a
						{
							color       : #465A65;
							font-size   : 14px;
							font-weight : 600;
							line-height : 19px;
						}
					}
				}

				> @{b}__content
				{
					position   : relative;
					z-index    : 3;
					margin-top : 0;
				}
			}

			&@{classPrefix}blogTabs_main > @{b}__nav > li
			{
				width : 50%;
			}
			&@{classPrefix}blogTabs_companiesList > @{b}__nav > li,
			&@{classPrefix}blogTabs_companyPage > @{b}__nav > li
			{
				width : 33.333%;
			}
			&@{classPrefix}blogTabs_companyPagePosts > @{b}__nav > li > a
			{
				color       : #555;
				font-size   : 18px;
				line-height : 24px;
				padding     : 10px 20px;
			}
		}
	}

	@{classPrefix}blogPostItem
	{
		@b : %(~"%sblogPostItem", @classPrefix);

		margin     : 0 0 8px 0;
		padding    : 8px 7px;
		box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		background : #FFF;

		@{b}__company
		{
			margin     : 0;
			width      : auto;
			text-align : left;
			float      : none;
			overflow   : initial;

			@{b}__image
			{
				width          : 40px;
				display        : inline-block;
				vertical-align : middle;
				font-size      : 12px;
				line-height    : 15px;
				margin         : 0;

				img
				{
					.img-responsive;
					max-height : 100%;
				}
			}

			&Name
			{
				display        : inline-block;
				margin-left    : 13px;
				font-size      : 14px;
				color          : #27282D;
				vertical-align : middle;

				a
				{
					font-weight : bold;
					color       : #465A65;
				}
			}

			@{classPrefix}blog__followButton
			{
				display       : none;
				margin-top    : 15px;
				margin-bottom : 10px;
				//visibility : hidden;
				.opacity(0);
				position      : relative;
				top           : 10px;
			}
		}

		@{b}__header
		{
			margin-top    : 10px;
			margin-bottom : 10px;

			@{b}__title
			{
				color       : #28282D;
				font-size   : 17px;
				font-weight : 600;
				line-height : 1.1;
			}
		}

		@{b}__meta
		{
			font-size   : 13px;
			line-height : 14px;
			margin      : 5px 0;

			a
			{
				color : inherit !important;
			}
		}

		@{b}__metaItem
		{
			display        : inline-block;
			white-space    : nowrap;
			vertical-align : middle;

			&::before
			{
				display : none;
			}
		}

		@{b}__description
		{
			font-size     : 14px;
			margin        : 10px 0 15px;
			padding-right : 0;
		}

		@{b}__stat
		{
			font-size   : 13px;
			line-height : 14px;
			white-space : nowrap;

			.fa
			{
				margin-right   : 6px;
				vertical-align : top;
			}
			+ @{b}__stat
			{
				margin-left : 10px;
			}
		}

		@{b}__published
		{
			padding-top    : 1px;
			font-size      : 13px;
			line-height    : 14px;
			text-transform : uppercase;
			font-weight    : 600;
			color          : #465A65;
		}

		@{b}__actions
		{
			text-align : center;
		}
	}

	@{classPrefix}blogCompanyDetail
	{
		@b : %(~"%sblogCompanyDetail", @classPrefix);

		@{b}__card
		{
			margin-bottom : 25px;
		}

		@{b}__image
		{
			float         : left;
			width         : 64px;
			margin-right  : 25px;
			margin-bottom : 0;
		}

		@{b}__follow
		{
			vertical-align : top;
			white-space    : nowrap;
			text-align     : left;
			margin-top     : 15px;
			margin-bottom  : 15px;
			padding-right  : 5px;
			padding-bottom : 5px;
			overflow       : hidden;
		}
		@{b}__subscribers
		{
			margin-top   : 10px;
			margin-right : 50px;
			color        : #465A65;
			font-size    : 14px;
			line-height  : 14px;
			display      : block;

			&::before
			{
				content        : '';
				margin-right   : 4px;
				vertical-align : middle;
				display        : inline-block;
				.ct-icon.ct-icon_user();
			}
		}

		@{classPrefix}blog__followButton
		{
			float : right;
		}

		@{b}__infoList
		{
			margin-top : 10px;
		}

		@{b}__description
		{
			margin      : 0;
			color       : #000;
			font-size   : 16px;
			line-height : 22px;
		}

		.social-box
		{
			display     : block;
			white-space : normal;
			margin-top  : 15px;

			&__item
			{
				margin-right : 4px;
			}
			&__link
			{
				display     : block;
				width       : 25px;
				line-height : 20px;
				height      : 25px;
			}
			&__icon
			{
				line-height : 15px;
				font-size   : 14px;
			}
		}

	}

	@{classPrefix}blogPostDetail
	{
		@b : %(~"%sblogPostDetail", @classPrefix);

		background : #FFF;
		margin     : 0 -10px 30px;
		padding    : 10px;

		@{b}__company
		{
			&Logo
			{
				display               : inline-block;
				-webkit-box-shadow    : none;
				-moz-box-shadow       : none;
				box-shadow            : none;
				-webkit-border-radius : 2px;
				-moz-border-radius    : 2px;
				border-radius         : 2px;
				vertical-align        : middle;
				margin-right          : 32px;
			}

			&Name
			{
				display        : inline-block;
				vertical-align : middle;
				font-size      : 14px;
				color          : #465A65;

				&::after
				{
					margin-left : 0;
				}
				&::before
				{
					display : none;
				}
			}
		}

		@{b}__follow
		{
			margin-bottom : 25px;
		}
		@{b}__followStat
		{
			color       : #465A65;
			font-size   : 14px;
			line-height : 14px;
			text-align  : right;
			margin-top  : 20px;
			display     : inline-block;

			&::before
			{
				content        : '';
				display        : inline-block;
				vertical-align : middle;
				margin-right   : 5px;
				.ct-icon.ct-icon_user();
			}
		}

		@{b}__published
		{
			color          : #555;
			text-transform : uppercase;
			line-height    : 19px;
			margin         : 0;
		}
		@{b}__topic
		{
			margin-left : 0;
			margin-top  : 0;
			line-height : 19px;
			float       : right;
		}
	}

	@{classPrefix}blogRelatedPosts
	{
		@b : %(~"%sblogRelatedPosts", @classPrefix);

		padding       : 0;
		position      : relative;
		border-radius : 0;
		background    : none;
		box-shadow    : none;

		@{b}__title
		{
			color          : #010101;
			font-size      : 30px;
			font-weight    : 600;
			line-height    : 41px;
			text-transform : none;
			margin         : 0;
		}

		@{b}__box
		{
			margin-top : 15px;
		}
	}

	@{classPrefix}blogCompaniesTable
	{
		@b : %(~"%sblogCompaniesTable", @classPrefix);

		display : block;

		@{b}__head
		{
			display : none;
		}
	}

	@{classPrefix}blogCompanyItem
	{
		@b : %(~"%sblogCompanyItem", @classPrefix);
		padding : 8px 10px;
		border  : 0;

		@{b}__imagebox
		{
			float   : left;
			margin  : 0 0 8px 8px;
			padding : 0;
		}
		@{b}__info
		{
			padding-left : 22px;
			display      : inline-block;
		}
		@{b}__name
		{
			margin-bottom : 8px;
		}
		@{b}__category
		{

		}
		@{b}__subscribers
		{
			float       : left;
			clear       : both;
			margin      : 30px 0 0 8px;
			padding     : 0;
			font-size   : 14px;
			line-height : 14px;
		}
		@{b}__follow
		{
			padding-top : 10px;
			float       : right;
		}
	}
}
