@media (min-width : @screen-xs-min)
{
	@{classPrefix}blogAccountNotifications
	{
		@b : %(~"%sblogAccountNotifications", @classPrefix);

		margin : -16px -10px -16px -16px;
	}
}

@media (min-width : @screen-sm-min)
{
	@{classPrefix}blogSliderCompanies
	{
		@b : %(~"%sblogSliderCompanies", @classPrefix);
		position    : relative;
		overflow    : hidden;
		padding-top : 3px;

		&:after,
		&:before
		{
			content            : '';
			display            : block;
			width              : 10px;
			height             : 100%;
			position           : absolute;
			top                : 0;
			bottom             : 0;
			z-index            : 2;
			background         : #FAFAFA;
			-webkit-box-shadow : 0 0 14px -4px rgba(0, 0, 0, 0.8);
			-moz-box-shadow    : 0 0 14px -4px rgba(0, 0, 0, 0.8);
			box-shadow         : 0 0 14px -4px rgba(0, 0, 0, 0.8);
		}
		&:before
		{
			left          : -7px;
			border-radius : 0 100% 100% 0;
		}
		&:after
		{
			right         : -7px;
			border-radius : 100% 0 0 100%;
		}
	}
}
