&input-control
{
	padding-left     : 10px;
	padding-top      : 4px;
	padding-bottom   : 4px;
	text-align       : left;
	outline          : none;
	border-radius    : 2px;
	background-color : #FFF;
	color            : #828282;
	font-size        : 14px;
	line-height      : 22px;
	border           : 1px solid #AFBDC4;

	//@import "mods/include";
}
