@{classPrefix}accountForm
{
	@b : %(~"%saccountForm", @classPrefix);
	padding    : 8px 0;
	background : #FFF;

	@{b}__row
	{
		margin : 8px 0;
	}

	@{b}__helper
	{
		position           : absolute;
		top                : 0;
		bottom             : 0;
		left               : 0;
		right              : 0;
		max-width          : 100%;
		white-space        : normal;
		background         : rgba(0, 0, 0, 0.7);
		line-height        : 20px;
		font-size          : 13px;
		text-align         : center;
		color              : #FFF;
		padding            : 5px;
		opacity            : 0;
		overflow           : hidden;
		visibility         : hidden;
		-webkit-transition : all 350ms;
		-moz-transition    : all 350ms;
		-ms-transition     : all 350ms;
		-o-transition      : all 350ms;
		transition         : all 350ms;
	}

	@{b}__dropdown
	{
		position    : relative;
		display     : block;
		margin      : 0;
		white-space : nowrap;

		@{classPrefix}dropdownSelect
		{
			@b : %(~"%sdropdownSelect", @classPrefix);

			@{b}__button
			{
				background-color : #FAFAFA;
				color            : #000;
				font-size        : 16px;
				line-height      : 22px;
				text-align       : left;
				padding          : 13px 0 13px 25px;
				width            : 100%;
				display          : block;
				vertical-align   : middle;
				margin           : 0;

				&::after
				{
					right                   : 32px;
					width                   : 16px;
					height                  : 16px;
					-webkit-background-size : 16px 11px;
					background-size         : 16px 11px;
				}
			}
			@{b}__menu
			{
				-webkit-border-radius : 0;
				-moz-border-radius    : 0;
				border-radius         : 0;
				background-color      : #FAFAFA;

				@{b}__menuItem
				{
					padding-left : 25px;
					font-size    : 15px;
				}
			}
		}
	}
	@{b}__box
	{
		background-color : #FAFAFA;
		padding-right    : 84px;
		padding-left     : 25px;
		position         : relative;
		display          : block;
		margin           : 0;
		white-space      : nowrap;

		&Asset
		{
			vertical-align      : middle;
			display             : inline-block;
			width               : 64px;
			margin-right        : -74px;
			margin-left         : 10px;
			background-position : center center;

			&_avatar
			{
				height              : 64px;
				background          : transparent url(~'@{imgPath}/icons/user-profile.svg') 0 0 no-repeat;
				background-position : center center;
			}
		}

		&:hover @{b}__helper
		{
			opacity    : 1;
			visibility : visible;
		}
	}

	@{b}__notification
	{
		padding        : 3px 26px;
		font-size      : 10px;
		font-weight    : bold;
		line-height    : 22px;
		margin-bottom  : 10px;
		text-transform : uppercase;

		&_success
		{
			background-color : lighten(@brand-green, 25%);
			color            : darken(@brand-green, 25%);
		}
		&_error
		{
			background-color : lighten(@brand-danger, 25%);
			color            : darken(@brand-danger, 25%);
		}
	}

	@{b}__control,
	@{b}__labelText
	{
		background     : none;
		color          : #000;
		font-size      : 16px;
		line-height    : 22px;
		padding        : 13px 0;
		width          : 100%;
		display        : inline-block;
		vertical-align : middle;
		margin         : 0;
	}

	@{b}__control
	{
		border : 0;
		.placeholder(#000);

		&_file
		{
			left     : -100%;
			width    : 1px;
			height   : 1px;
			overflow : hidden;
			position : absolute;
		}
	}
	@{b}__labelText
	{
		//vertical-align : middle;
	}

	@{b}__button
	{
		padding-left  : 35px;
		padding-right : 35px;
		float         : right;
		margin-right  : 16px;
		margin-top    : 5px;
	}

	@media (max-width : @screen-xs-max)
	{
		margin  : 0 -10px;
		padding : 8px 10px;
	}
}
