&addCompany
{
	@{b}__input_file
	{
		margin-top : 20px;
	}

	@{b}__submit
	{
		padding     : 12px 56px;
		margin      : 0 20px;
		color       : #253137;
		font-size   : 10px;
		font-weight : bold;
		line-height : 14px;
		text-align  : center;
	}

}
