@{classPrefix}userProfile
{
	@b : %(~"%suserProfile", @classPrefix);

	@{b}__box
	{
		margin     : 0 -10px;
		padding    : 10px 0;
		background : #FFF;
		box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.16);

		&_text
		{
			padding     : 40px 10px;
			color       : #000;
			font-size   : 16px;
			font-weight : 600;
			line-height : 22px;
		}
	}

	@{b}__actions
	{
		&_top
		{
			margin-bottom : 10px;
		}
	}

	@{b}__layoutBox
	{
		.clearfix();
		background : #FFF;
		box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
	}
	@{b}__layout
	{
		.clearfix();
		padding-left : 160px;
		position     : relative;

		&::before
		{
			content          : '';
			width            : 160px;
			background-color : #465A65;
			top              : 0;
			left             : 0;
			bottom           : 0;
			position         : absolute;
			z-index          : 1;
			display          : block;
			box-shadow       : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
		}

		@{b}__sideMenu
		{
			float       : left;
			margin-left : -160px;
			width       : 160px;
			position    : relative;
			z-index     : 3;
		}

		@{b}__sideContent
		{
			padding  : 16px 10px 16px 16px;
			position : relative;
			z-index  : 2;

			&_full_box
			{
				padding : 0;
			}
			&_full_wide
			{
				padding : 16px 0;
			}

			&::after
			{
				content : '';
				display : table;
				clear   : both;
			}

			&Inner
			{
				float    : left;
				width    : 100%;
			}

			&_whitebox
			{
				background : #FFF;
				box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.16);
			}
		}
	}

	@media (max-width : @screen-xs-max)
	{

		@{b}__layout
		{
			padding : 0;

			&::before
			{
				display : none;
			}

			@{b}__sideMenu
			{
				display : none;
			}

			@{b}__sideContent
			{
				padding : 0;
				&_whitebox
				{
					background : none;
					box-shadow : none;
				}
			}
		}
	}
}
