@{classPrefix}header
{
	@b : %(~"%sheader", @classPrefix);
	background-color : #253137;
	font-size        : 0;
	padding          : 12px 6px;
	text-align       : justify;

	@{b}__container::after
	{
		content : '';
		display : inline-block;
		width   : 100%;
	}

	@{b}__component
	{
		text-align     : left;
		font-size      : initial;
		display        : inline-block;
		white-space    : normal;
		vertical-align : middle;

		&_logotype
		{
			margin-right : 20px;
		}
		&_dropdown,
		&_user,
		&_buttons_blog
		{
			display : none;
		}

		&_search
		{
			width : 180px;
		}

		&_burgerMenu
		{
			height       : 40px;
			width        : 40px;
			color        : #FABF2C;
			position     : relative;
			padding      : 12px 0;
			margin-left  : 20px;
			margin-right : -4px;

			&::after,
			&::before
			{

				content    : '';
				display    : block;
				position   : absolute;
				top        : 50%;
				left       : 8px;
				right      : 8px;
				border-top : 2px solid;
			}
			&::before
			{
				margin-top    : -8px;
				height        : 16px;
				border-bottom : 2px solid;
			}
			&::after
			{
				margin-top : -1px;
			}
		}

		/*.slideout-open &_burgerMenu
		{
			display : none;
		}
		.slideout-open &_logotype
		{
			float  : right;
			width  : 48px;
			margin : 0;
		}*/
	}

	@media (min-width : @screen-xs-min)
	{
		@{b}__component
		{
			&_logotype
			{

				margin-right : 10px;
			}
		}
	}
	@media (min-width : @screen-sm-min)
	{
		padding     : 32px 0;
		text-align  : left;
		white-space : nowrap;

		&::after
		{
			display : none;
		}

		@{b}__component
		{
			&_logotype
			{
				margin-right : 0;
			}

			&_dropdown
			{
				display : inline-block;

				@{classPrefix}dropdownSelect
				{
					min-width    : 100px;
					padding-left : 30px;
					&__button
					{
						padding-right   : 20px;
						padding-left    : 0;
						color           : #FAFAFA;
						text-align      : right;
						text-transform  : uppercase;
						font-size       : 12px;
						font-weight     : 600;
						line-height     : 19px;
						text-decoration : none !important;
						background      : none !important;

						&::after
						{
							color : #FABF2C;
							right : 0;
						}
					}

					&__menu
					{
						display               : block;
						padding               : 16px 10px;
						top                   : auto;
						left                  : 0;
						right                 : auto;
						font-size             : 0;
						margin                : 0;
						-webkit-border-radius : 0;
						-moz-border-radius    : 0;
						border-radius         : 0;
						max-width             : 100%;
						min-width             : 360px;

						li
						{
							display     : inline-block;
							width       : 33.3333%;
							white-space : nowrap;

							a
							{
								min-width : 0;
								padding   : 6px 0;
							}
						}
					}
				}
			}

			&_user
			{
				display      : inline-block;
				margin-right : 20px;
			}

			&_buttons_blog
			{
				display : inline-block;
			}

			&_search
			{
				width       : 180px;
				margin-left : 12px;
			}

			&_burgerMenu
			{
				display : none;
			}
		}

		@{b}__user
		{
			padding-left  : 20px;
			padding-right : 15px;

			&Card
			{
				display         : block;
				text-decoration : none;
				position        : relative;
				z-index         : 101;
			}

			&Icon
			{
				display                 : inline-block;
				width                   : 50px;
				height                  : 50px;
				padding                 : 5px;
				background              : transparent url(~'@{imgPath}/user-empty-avatar.svg') center center no-repeat;
				-webkit-background-size : 40px;
				background-size         : 40px;
				vertical-align          : middle;
				margin-right            : 7px;
			}
			&Name
			{

			}

			@{classPrefix}dropdownSelect__menu@{b}__userMenu
			{
				width   : 200px;
				left    : 0;
				z-index : 100;
				padding : 11px 15px 22px;

				> li
				{
					> a
					{
						padding-left  : 33px;
						padding-right : 0;
						color         : #000;
						font-size     : 16px;
						font-weight   : 300;
						position      : relative;

						.ct-icon
						{
							position          : absolute;
							top               : 50%;
							-webkit-transform : translateY(-50%);
							-moz-transform    : translateY(-50%);
							-ms-transform     : translateY(-50%);
							-o-transform      : translateY(-50%);
							transform         : translateY(-50%);
							margin-left       : -33px;
						}
					}
				}
			}

			&.open @{b}__userMenu
			{
				margin-top : -15px !important;
			}
		}

		@{b}__button
		{
			color         : #253137;
			font-size     : 10px;
			font-weight   : bold;
			line-height   : 20px;
			text-align    : center;
			padding-left  : 15px;
			padding-right : 15px;
		}
	}

	@media (min-width : @screen-md-min)
	{
		@{b}__component
		{
			&_logotype
			{
				margin-right : 50px;
			}

			&_dropdown
			{
				@{classPrefix}dropdownSelect
				{
					min-width    : 135px;
					padding-left : 63px;

					&__button
					{
						padding-right : 20px;
						padding-left  : 0;
					}

					&__menu
					{
						padding   : 16px 10px;
						min-width : 360px;
					}
				}
			}

			&_buttons_blog
			{
				margin-left : 20px;
			}
			&_user
			{
				margin-left  : 25px;
				margin-right : 55px;
			}

			&_search
			{
				margin-left : 12px
			}
		}

		@{b}__button
		{
			padding-left  : 25px;
			padding-right : 25px;
		}

		@{b}__user
		{
			padding-right : 0;
			padding-left  : 48px;
		}
	}
}
