&icoSearch
{
	@{b}__input_search
	{
		position : relative;
		float    : right;

		@{b}__input-control
		{
			padding      : 7px 32px 7px 16px;
			color        : #B2BAC4;
			font-size    : 14px;
			line-height  : 24px;
			border-width : 1px;
		}

		@{b}__submit
		{
			border      : 0;
			display     : inline-block;
			position    : absolute;
			right       : 15px;
			top         : 50%;
			margin-top  : -4px;
			text-indent : -99px;
			overflow    : hidden;
			.ct-icon.ct-icon_magnifier();
		}
	}
}
