@{b} &__title
{
	@b : %(~"%s__title", @classPrefix);

	margin-top    : 55px;
	margin-bottom : 17px;
	font-family   : @font-family-base;
	font-size     : 40px;
	line-height   : 1.375;
	font-weight   : 600;
	color         : @brand-warning;

	&_upper
	{
		text-transform : uppercase;
	}

	@media (max-width : @screen-xs-max)
	{
		font-size : 18px;
	}

}
