@{classPrefix}icon
{
	@b : %(~"%sicon", @classPrefix);
	display : inline-block;

	&@{b}_arrow-down
	{
		width           : 10px;
		height          : 5px;
		background      : transparent url(~'@{imgPath}/icons/arrow-down.svg') 0 0 no-repeat;
		background-size : 10px 5px;
	}
	&@{b}_arrow-up-big
	{
		width           : 14px;
		height          : 8px;
		background      : transparent url(~'@{imgPath}/icons/arrow-up-big.svg') 0 0 no-repeat;
		background-size : 14px 8px;
	}
	&@{b}_arrow-right-line
	{
		width           : 12px;
		height          : 12px;
		background      : transparent url(~'@{imgPath}/icons/arrow-right-line.svg') 0 0 no-repeat;
		background-size : 12px 12px;
	}
	&@{b}_arrow-left-line
	{
		width           : 12px;
		height          : 13px;
		background      : transparent url(~'@{imgPath}/icons/arrow-left-line.svg') 0 0 no-repeat;
		background-size : 12px 13px;
	}
	&@{b}_close-rounded
	{
		width           : 16px;
		height          : 16px;
		background      : transparent url(~'@{imgPath}/icons/close-rounded.svg') 0 0 no-repeat;
		background-size : 16px 16px;
	}
	&@{b}_close-line
	{
		width           : 18px;
		height          : 19px;
		background      : transparent url(~'@{imgPath}/icons/close-line.svg') 0 0 no-repeat;
		background-size : 18px 19px;
	}
	&@{b}_magnifier
	{
		width           : 10px;
		height          : 9px;
		background      : transparent url(~'@{imgPath}/icons/magnifier.svg') 0 0 no-repeat;
		background-size : 10px 9px;
	}
	&@{b}_star-round-yellow
	{
		width           : 20px;
		height          : 20px;
		background      : transparent url(~'@{imgPath}/icons/star-round-yellow.svg') 0 0 no-repeat;
		background-size : 20px 20px;
	}
	&@{b}_user
	{
		width           : 12px;
		height          : 13px;
		background      : transparent url(~'@{imgPath}/icons/user.svg') 0 1px no-repeat;
		background-size : 12px 12px;
	}
	&@{b}_user-profile
	{
		width           : 48px;
		height          : 48px;
		background      : transparent url(~'@{imgPath}/icons/user-profile.svg') 0 0 no-repeat;
		background-size : 48px 48px;
	}
	&@{b}_plus-double
	{
		width                   : 16px;
		height                  : 16px;
		background              : transparent url(~'@{imgPath}/icons/plus-double.svg') 0 0 no-repeat;
		-webkit-background-size : 16px 16px;
		background-size         : 16px 16px;
	}
	&@{b}_bookmark
	{
		width                   : 12px;
		height                  : 15px;
		background              : transparent url(~'@{imgPath}/icons/bookmark.svg') 0 0 no-repeat;
		-webkit-background-size : 12px 15px;
		background-size         : 12px 15px;
	}
	&@{b}_comments
	{
		width                   : 20px;
		height                  : 16px;
		background              : transparent url(~'@{imgPath}/icons/comments.svg') 0 0 no-repeat;
		-webkit-background-size : 20px 16px;
		background-size         : 20px 16px;
	}
	&@{b}_envelope
	{
		width                   : 16px;
		height                  : 13px;
		background              : transparent url(~'@{imgPath}/icons/envelope.svg') 0 0 no-repeat;
		-webkit-background-size : 16px 13px;
		background-size         : 16px 13px;
	}
	&@{b}_settings
	{
		width                   : 16px;
		height                  : 16px;
		background              : transparent url(~'@{imgPath}/icons/settings.svg') 0 0 no-repeat;
		-webkit-background-size : 16px 16px;
		background-size         : 16px 16px;
	}
	&@{b}_arrow-logout
	{
		width                   : 15px;
		height                  : 9px;
		background              : transparent url(~'@{imgPath}/icons/arrow-logout.svg') 0 0 no-repeat;
		-webkit-background-size : 15px 9px;
		background-size         : 15px 9px;
	}
	&@{b}_book-open
	{
		width                   : 15px;
		height                  : 15px;
		background              : transparent url(~'@{imgPath}/icons/book-open.svg') 0 0 no-repeat;;
		-webkit-background-size : 15px 15px;
		background-size         : 15px 15px;
	}
	&@{b}_dropbox
	{
		width                   : 19px;
		height                  : 18px;
		background              : transparent url(~'@{imgPath}/icons/dropbox.svg') 0 0 no-repeat;;
		-webkit-background-size : 19px 18px;
		background-size         : 19px 18px;
	}
	&@{b}_pencil-write
	{
		width                   : 16px;
		height                  : 16px;
		background              : transparent url(~'@{imgPath}/icons/pencil-write.svg') 0 0 no-repeat;;
		-webkit-background-size : 16px 16px;
		background-size         : 16px 16px;
	}

	&@{b}_arrow-right-line-dark
	{
		width           : 12px;
		height          : 12px;
		background      : transparent url(~'@{imgPath}/icons/arrow-right-line-dark.svg') 0 0 no-repeat;
		background-size : 12px 12px;
	}

	&@{b}_bookmark-dark
	{
		width                   : 12px;
		height                  : 15px;
		background              : transparent url(~'@{imgPath}/icons/bookmark-dark.svg') 0 0 no-repeat;
		-webkit-background-size : 12px 15px;
		background-size         : 12px 15px;
	}
	&@{b}_comments-dark
	{
		width                   : 20px;
		height                  : 16px;
		background              : transparent url(~'@{imgPath}/icons/comments-dark.svg') 0 0 no-repeat;
		-webkit-background-size : 20px 16px;
		background-size         : 20px 16px;
	}
	&@{b}_envelope-dark
	{
		width                   : 16px;
		height                  : 13px;
		background              : transparent url(~'@{imgPath}/icons/envelope-dark.svg') 0 0 no-repeat;
		-webkit-background-size : 16px 13px;
		background-size         : 16px 13px;
	}
	&@{b}_settings-dark
	{
		width                   : 16px;
		height                  : 16px;
		background              : transparent url(~'@{imgPath}/icons/settings-dark.svg') 0 0 no-repeat;
		-webkit-background-size : 16px 16px;
		background-size         : 16px 16px;
	}
	&@{b}_arrow-logout-dark
	{
		width                   : 15px;
		height                  : 9px;
		background              : transparent url(~'@{imgPath}/icons/arrow-logout-dark.svg') 0 0 no-repeat;
		-webkit-background-size : 15px 9px;
		background-size         : 15px 9px;
	}
	&@{b}_search-magnifier-thin
	{
		width                   : 16px;
		height                  : 16px;
		background              : transparent url(~'@{imgPath}/icons/search-magnifier-thin.svg') 0 0 no-repeat;
		-webkit-background-size : 16px 16px;
		background-size         : 16px 16px;
	}
	&@{b}_photo-camera
	{
		width                   : 16px;
		height                  : 16px;
		background              : transparent url(~'@{imgPath}/icons/photo-camera.svg') 0 0 no-repeat;
		-webkit-background-size : 16px 16px;
		background-size         : 16px 16px;
	}
}
