@{classPrefix}link
{
	@b : %(~"%slink", @classPrefix);
	font-size          : 16px;
	line-height        : 22px;
	text-decoration    : none;
	-webkit-transition : all 350ms;
	-moz-transition    : all 350ms;
	-ms-transition     : all 350ms;
	-o-transition      : all 350ms;
	transition         : all 350ms;

	&:hover
	{
		text-decoration : underline;
	}

	&@{b}_underline
	{
		text-decoration : underline;
		&:hover
		{
			text-decoration : none;
		}
	}

	&@{b}_theme
	{
		&_black
		{
			color : #000;
		}
	}

	@{b}__icon
	{
		display        : inline-block;
		vertical-align : middle;
		margin         : 0 10px;

		&:first-child
		{
			margin : 0 10px 0 0;
		}

		&:last-child
		{
			margin : 0 0 0 10px;
		}
	}
}
