<div class="visible-xs visible-sm / ct-blogMobilePanel">
	<div class="ct-dropdownSelect ct-dropdownSelect_theme_simple">
		<button class="ct-dropdownSelect__button ct-blogMobilePanel__link" type="button" id="blogTopicsDropdown" data-toggle="dropdown">
			Topics
		</button>
		<ul class="ct-dropdownSelect__menu" role="menu" aria-labelledby="blogTopicsDropdown">
			<li><a href="#">Analytics</a></li>
			<li><a href="#">Fintech</a></li>
			<li><a href="#">ICO</a></li>
			<li><a href="#">Education</a></li>
			<li><a href="#">News</a></li>
			<li><a href="#">Adoption</a></li>
			<li><a href="#">Regulation</a></li>
			<li><a href="#">Fork</a></li>
		</ul>
	</div>
	<div class="ct-dropdownSelect ct-dropdownSelect_theme_simple">
		<button class="ct-dropdownSelect__button / ct-blogMobilePanel__link" type="button" id="blogCompaiesDropdown" data-toggle="dropdown">
			Companies
		</button>
		<ul class="ct-dropdownSelect__menu" role="menu" aria-labelledby="blogCompaiesDropdown">
			<li><a href="#">Coca cola</a></li>
			<li><a href="#">IBM</a></li>
			<li><a href="#">Nike</a></li>
			<li><a href="#">Samsung</a></li>
			<li><a href="#">Yota</a></li>
			<li><a href="#">Beeline</a></li>
			<li><a href="#">Apple</a></li>
			<li><a href="#">Skolkovo</a></li>
			<li><a href="#">KFC</a></li>
		</ul>
	</div>
	<a href="#" class="ct-blogMobilePanel__link">ADD</a>
</div>
