<div class="ct-breadcrumbs">
	<a href="index.html" class="ct-breadcrumbs__item ct-breadcrumbs__item_link">BLOGCHAIN</a>
	<span class="ct-breadcrumbs__item ct-breadcrumbs__item_static">/</span>
	<a href="profile-account.html" class="ct-breadcrumbs__item ct-breadcrumbs__item_link">ACCOUNT</a>
</div>
<dl class="ct-blogSidebarBox">
	<dt class="ct-blogSidebarBox__title / ct-title ct-title_squareDot">
		<span>RECOMENDATION</span>
	</dt>
	<dd class="ct-blogSidebarBox__text">
		Please read our <a href="#" class="ct-link ct-link_underline">Tutorial</a> before writing a post
	</dd>
</dl>
<dl class="ct-blogSidebarBox">
	<dt class="ct-blogSidebarBox__title / ct-title ct-title_squareDot">
		<span>TO AUTHOR</span>
	</dt>
	<dd class="ct-blogSidebarBox__text">
		<ul class="ct-blogRecomedationsList">
			<li>
				<img src="/i/src/blog/blog-guide-checkbox.svg" alt="Keep in mind BlogChain rules"/>
				<span class="ct-blogRecomedationsList__label">Keep in mind <a href="#" class="ct-link ct-link_underline">BlogChain rules</a>
			</span>
			</li>
			<li>
				<img src="/i/src/blog/blog-guide-book.svg" alt="Use Style Guides to write a post"/>
				<span class="ct-blogRecomedationsList__label">Use <a href="#" class="ct-link ct-link_underline">Style Guides</a> to write a post
			</span>
			</li>
			<li>
				<img src="/i/src/blog/blog-guide-warning.svg" alt="It is prohibited to publish scum"/>
				<span class="ct-blogRecomedationsList__label">It is prohibited to publish scum
			</span>
			</li>
			<li>
				<img src="/i/src/blog/blog-guide-flag.svg" alt="Keep in mind BlogChain rules"/>
				<span class="ct-blogRecomedationsList__label">Try to do post attractive and useful to readers
			</span>
			</li>
		</ul>
	</dd>
</dl>
