<div class="ct-breadcrumbs">
	<a href="index.html" class="ct-breadcrumbs__item ct-breadcrumbs__item_link">BLOGCHAIN</a>
	<span class="ct-breadcrumbs__item ct-breadcrumbs__item_static">/</span>
	<a href="profile-account.html" class="ct-breadcrumbs__item ct-breadcrumbs__item_link">ACCOUNT</a>
</div>
//= ./top-companies-sidebarBox.html
