<div class="ct-blog__sidebarHeader">
	<h2 class="ct-blog__sidebarHeaderTitle / pull-left / ct-title ct-title_squareDot"><a href="#">COMPANIES</a></h2>
	<a href="#" class="ct-blog__addCompanyButton / pull-right / ct-button ct-button_theme_yellow">ADD COMPANY TO BLOG</a>
</div>
<dl class="ct-blogSidebarBox">
	<dt class="ct-blogSidebarBox__title / ct-title ct-title_squareDot">
		<span>All</span> <span class="__counter pull-right">123</span>
	</dt>
	<dd class="ct-blogSidebarBox__container">
		<ul class="ct-blogSidebarNav ct-blogSidebarNav_categories">
			<li class="ct-blogSidebarNav__item"><a href="#">Веб-разработка <span class="__counter">56</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Программное обеспечение <span class="__counter">65</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Аппаратное обеспечение <span class="__counter">23</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Дизайн и юзабилити <span class="__counter">56</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Реклама и маркетинг <span class="__counter">65</span></a></li>
			<li class="ct-blogSidebarNav__item ct-blogSidebarNav__item_active"><a href="#">СМИ <span class="__counter">23</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Консалтинг и поддержка <span class="__counter">56</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Рекрутинг и HR <span class="__counter">65</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Электронная коммерция <span class="__counter">23</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Некоммерческие организации <span class="__counter">56</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Оптимизация <span class="__counter">65</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Производство мультимедиа-контента <span class="__counter">23</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Связь и телекоммуникации <span class="__counter">56</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Домены и хостинг <span class="__counter">65</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Поисковые технологии <span class="__counter">23</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Мобильные технологии <span class="__counter">56</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Веб-сервисы <span class="__counter">65</span></a></li>
			<li class="ct-blogSidebarNav__item"><a href="#">Игры и развлечения <span class="__counter">23</span></a></li>
		</ul>
	</dd>
</dl>
