
<dl class="ct-blogSidebarBox">
	<dt class="ct-blogSidebarBox__title / ct-title ct-title_squareDot">
		<span>TOP COMPANIES</span>
	</dt>
	<dd class="ct-blogSidebarBox__container">
		<div class="ct-blogCompanyItem ct-blogCompanyItem_vcard">
			<a class="ct-blogCompanyItem__imagebox" href="#">
				<img src="../i/src/companies/company (1).png" class="img-responsive" alt=""/>
			</a>
			<div class="ct-blogCompanyItem__follow">
				<a href="#" class="ct-blog__followButton / ct-button ct-button_rounded ct-button_theme_gray">FOLLOWING</a>
				<div class="ct-blogCompanyItem__subscribers">
					258948
				</div>
			</div>
			<div class="ct-blogCompanyItem__info">
				<a href="#" class="ct-blogCompanyItem__name">Lorem ipsum</a>
				<div>
					<a href="#" class="ct-blogCompanyItem__category">Information technology</a>
				</div>
			</div>
		</div>
		<div class="ct-blogCompanyItem ct-blogCompanyItem_vcard">
			<a class="ct-blogCompanyItem__imagebox" href="#">
				<img src="../i/src/companies/company (2).png" class="img-responsive" alt=""/>
			</a>
			<div class="ct-blogCompanyItem__follow">
				<a href="#" class="ct-blog__followButton / ct-button ct-button_rounded ct-button_theme_yellow">FOLLOW</a>
				<div class="ct-blogCompanyItem__subscribers">
					258948
				</div>
			</div>
			<div class="ct-blogCompanyItem__info">
				<a href="#" class="ct-blogCompanyItem__name">Lorem ipsum</a>
				<div>
					<a href="#" class="ct-blogCompanyItem__category">Information technology</a>
				</div>
			</div>
		</div>
		<div class="ct-blogCompanyItem ct-blogCompanyItem_vcard">
			<a class="ct-blogCompanyItem__imagebox" href="#">
				<img src="../i/src/companies/company (3).png" class="img-responsive" alt=""/>
			</a>
			<div class="ct-blogCompanyItem__follow">
				<a href="#" class="ct-blog__followButton / ct-button ct-button_rounded ct-button_theme_gray">FOLLOWING</a>
				<div class="ct-blogCompanyItem__subscribers">
					258948
				</div>
			</div>
			<div class="ct-blogCompanyItem__info">
				<a href="#" class="ct-blogCompanyItem__name">Long title or company name</a>
				<div>
					<a href="#" class="ct-blogCompanyItem__category">Information technology</a>
				</div>
			</div>
		</div>
	</dd>
</dl>
