@{classPrefix}logotype
{
	@b : %(~"%slogotype", @classPrefix);
	display   : inline-block;
	//text-indent : -999px;
	font-size : 0;
	overflow  : hidden;

	@{b}__sitename
	{
		font-family    : Roboto, sans-serif;
		font-size      : 16px;
		line-height    : 17px;
		margin         : 0;
		text-transform : uppercase;
		font-weight    : 700;
		display        : block;

		> span
		{
			color : #FABF2C;
		}
	}

	@{b}__phrase
	{
		vertical-align : top;
		color          : #FFF;
		font-size      : 16px;
		font-weight    : normal;
		line-height    : 18px;
		display        : inline-block;
	}
	&@{b}_link
	{
		text-decoration : none !important;
	}

	&@{b}_blog
	{
		/*width       : 40px;
		height      : 40px;
		*/
		height      : 40px;
		width       : 190px;
		white-space : nowrap;

		@{b}__image
		{
			margin         : 2px 5px 0 0;
			vertical-align : top;
			display        : inline-block;
			max-width      : none;
		}

		@{b}__sitename
		{
			margin-bottom : 2px;
		}
	}
	&_blog_small
	{
		height      : 30px;
		width       : 135px;
		white-space : nowrap;

		@{b}__image
		{
			width          : 32px;
			height         : 27px;
			margin         : 2px 5px 0 0;
			vertical-align : top;
			display        : inline-block;
			max-width      : none;
		}

		@{b}__sitename
		{
			font-size      : 11px;
			line-height    : 12px;
			margin-bottom  : 2px;
			letter-spacing : 0.05em;
			> span
			{
				margin-right : 1px;
			}
		}
		@{b}__phrase
		{
			line-height : 10px;
			font-size   : 10px;
		}
	}
}
