&small
{
	font-size      : 14px;
	border-radius  : 3px;
	padding-left   : 12px;
	padding-right  : 12px;
	padding-top    : 7px;
	padding-bottom : 7px;
	line-height    : 18px;

	&@{b}_rounded
	{
		border-radius : 45px;
	}
}
