@{classPrefix}alert
{
	@b : %(~"%salert", @classPrefix);
	font-size   : 16px;
	line-height : 22px;
	padding     : 15px 11px;
	display     : block;
	overflow    : hidden;

	&@{b}_theme
	{
		&_red
		{
			background-color : #D0021B;
			color            : #FFF;
		}

		&_white
		{
			color            : #253137;
			background-color : #FFF;
		}

		&_yellow
		{
			color            : #253137;
			background-color : #FADF2C;
		}

		/* ----- */

		&_graylight
		{
			background-color : #ECEFF1;
			color            : #AFBDC4;
		}

		&_redlight
		{
			background-color : #E96878;
			color            : #AFBDC4;
		}

		&_yellowlight
		{
			color            : #AFBDC4;
			background-color : #FDEE8A;
		}
	}

	@media (max-width : @screen-xs-max)
	{
		font-size   : 14px;
		line-height : 19px;
	}
}
