@{b}__footer
{
	height     : 297px;
	margin-top : -297px;
	overflow   : hidden;
	position   : relative;
	background : #000;
	padding    : 80px @grid-gutter-width/2px;

	@media (max-width : @screen-sm-max)
	{
		padding : 40px 25px 5px;

		.footer__copyrights
		{
			font-size   : 20px;
			font-weight : 300;
			line-height : 31px;
		}
	}
	@media (max-width : @screen-xs-max)
	{
		padding : 30px 20px 5px;
		.footer__copyrights
		{
			font-size   : 17px;
			line-height : 26px;
		}
	}
}
