&default
{
	@{b}__button
	{
		color            : #000;
		background-color : #FFF;
		box-shadow       : 0 2px 4px 0 rgba(0, 0, 0, 0.16);

		&::after
		{
			content            : '';
			position           : absolute;
			right              : 10px;
			top                : 50%;
			margin-top         : -2px;
			margin-right       : 4px;
			#triangle > .down(5px, 5px, #253137, inline-block);
			-webkit-transition : all 350ms;
			-moz-transition    : all 350ms;
			-ms-transition     : all 350ms;
			-o-transition      : all 350ms;
			transition         : all 350ms;
		}
	}

	@{b}__menu
	{
		border     : 1px solid #AFBDC4;
		box-shadow : 0 2px 4px 0 rgba(0, 0, 0, 0.16);

		> li > @{b}__menuItem,
		> li > a
		{
			color      : #555;
			background : #FFF;
		}

		> li.active @{b}__menuItem,
		> li > @{b}__menuItem:hover,
		> li.active > a,
		> li > a:hover
		{
			background : darken(#FFF, 3%);
		}
	}

	.open&
	{
		@{b}__button
		{
			background-color : darken(#FFF, 2%);
			box-shadow       : inset 1px 1px 3px 0 rgba(0, 0, 0, 0.16);

			&::after
			{
				-webkit-transform : rotate(180deg) translateY(5px);
				-moz-transform    : rotate(180deg) translateY(5px);
				-ms-transform     : rotate(180deg) translateY(5px);
				-o-transform      : rotate(180deg) translateY(5px);
				transform         : rotate(180deg) translateY(5px);
			}
		}
	}
}
