&big
{
	line-height    : 1.375;
	font-size      : 40px;
	font-weight    : 600;
	letter-spacing : -1.5px;
	color          : @brand-darkblue;

	@media (max-width : @screen-xs-max)
	{
		font-size      : 27px;
		letter-spacing : -1px;
	}
}
