@{classPrefix}title
{
	@b : %(~"%stitle", @classPrefix);

	color         : #1C2528;
	font-size     : 30px;
	font-weight   : 600;
	line-height   : 41px;
	margin-bottom : 22px;

	&_dashed:after
	{
		content       : '';
		display       : block;
		width         : 53px;
		margin-top    : 5px;
		border-bottom : 2px solid #F8BF45;
	}

	/** DEPRECATED */ //TODO deprecated
	&_blog:before
	{
		content          : '';
		display          : inline-block;
		height           : 8px;
		width            : 8px;
		background-color : #FABF2C;
		margin-right     : 4px;
		vertical-align   : top;
	}

	&_squareDot:before
	{
		content          : '';
		display          : inline-block;
		height           : 8px;
		width            : 8px;
		background-color : #FABF2C;
		margin-right     : 8px;
		vertical-align   : top;
	}

	&_yellow
	{
		color : #F7B323;
	}

	@media (max-width : (@screen-sm-min - 1))
	{
		&_dashed:after
		{
			margin-top : 10px;
		}

	}
}
