@{classPrefix}dropdownSelect
{
	@b : %(~"%sdropdownSelect", @classPrefix);
	position : relative;
	display  : inline-block;

	@{b}__button
	{
		display            : block;
		position           : relative;
		width              : 100%;
		padding-left       : 15px;
		padding-right      : 65px;
		padding-top        : 6px;
		padding-bottom     : 7px;
		outline            : none;
		border             : 1px solid transparent;
		vertical-align     : middle;
		font-size          : 14px;
		line-height        : 19px;
		-webkit-transition : all 350ms;
		-moz-transition    : all 350ms;
		-ms-transition     : all 350ms;
		-o-transition      : all 350ms;
		transition         : all 350ms;

	}

	@{b}__menu
	{
		visibility            : hidden;
		opacity               : 0;
		position              : absolute;
		top                   : 100%;
		z-index               : 991;
		list-style            : none;
		padding               : 0;
		margin                : 15px 0 0;
		min-width             : 100%;
		-webkit-border-radius : 4px;
		-moz-border-radius    : 4px;
		border-radius         : 4px;
		overflow              : hidden;
		-webkit-transition    : all 350ms;
		-moz-transition       : all 350ms;
		-ms-transition        : all 350ms;
		-o-transition         : all 350ms;
		transition            : all 350ms;

		&Item,
		> li > a
		{
			padding     : 6px 15px;
			font-size   : 14px;
			line-height : 19px;
			display     : block;
			min-width   : 120px;
			margin      : 0;
		}
	}

	&_wide
	{
		display : block;
	}

	&.open
	{
		@{b}__menu
		{
			visibility : visible;
			opacity    : 1;
			margin-top : 3px;
		}
	}

	@import "mods/include";
}
